@font-face {
  font-family: 'WorkSans-Regular';
  src: local('Work Sans'), url('../../assets/fonts/WorkSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'El Messiri';
  src: local('El Messiri'), url('../../assets/fonts/ElMessiri-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'El Messiri';
  src: local('El Messiri'), url('../../assets/fonts/ElMessiri-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
