<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./stylesheets/main.css" />
  <title>About us</title>
</head>
<body class="about">
  <section class="selection about__header">
    <div class="wrapper">
      <div class="selection__container">
        <header class="header">
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item">
                <a href="#">Artwork</a>
              </li>
              <li class="nav__item">
                <a href="#">Artists</a>
              </li>
            </ul>
          </nav>
          <div class="logo">
            <a href="#" class="logo__link">Logo</a>
          </div>
          <div class="actions">
            <ul class="actions__list">
              <li class="actions__item like">
                <img src="./heart_black.svg" alt="like">
              </li>
              <li class="actions__item login">
                <a href="#" class="login__link">Log in</a>
              </li>

              <li class="actions__item currency">
                <select class="currency__select" name="currency-select" id="currency-select">
                  <option class="currency__option" value="USD">USD</option>
                  <option class="currency__option" value="INR">INR</option>
                  <option class="currency__option" value="GBP">GBP</option>
                  <option class="currency__option" value="CAD">CAD</option>
                  <option class="currency__option" value="AUD">AUD</option>
                  <option class="currency__option" value="EUR">EUR</option>
                  <option class="currency__option" value="JPY">JPY</option>
                </select>
              </li>

              <li class="actions__item cart">
                <div class="cart__container">
                  <a href="#" class="cart__link">Cart</a>
                  <div class="cart__counter">0</div>
                </div>
              </li>
            </ul>
          </div>
        </header>
        <div class="selection__content">
          <h1 class="selection__title">
            ABOUT
          </h1>
        </div>
      </div>
    </div>
  </section>
  <section class="address-bar">
    <div class="wrapper">
      <div class="address-bar__container">
        Home / About
      </div>
    </div>
  </section>
  <section class="main">
    <div class="wrapper">
      <div id="root" class="main__container">
    </div>
    </div>
  </section>
  <section class="boutique">
    <div class="wrapper">
      <div class="boutique__container">
        <div class="boutique__image"></div>
        <div class="boutique__description">
          <div class="boutique__first-letter">P</div>
          <p class="boutique__content">osterHaus is a Toronto-based boutique fine art company that partners with artists from across the globe</p>
          <p class="boutique__content"> to produce and sell curated works of photographic art that are exclusively available through our platform.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="image-field">
    <div class="man-and-see"></div>
    <div class="office"></div>
  </section>
  <section class="fulfill">
    <div class="wrapper">
      <div class="fulfill__container">
        <div class="fulfill__description">
          <span class="fulfill__first-letter">WE</span>
          <span class="fulfill__content">fulfill each order on behalf of our artists–taking care of the printing, framing, matting, packaging, shipping, collecting payments from buyers and sending profits to the artists. Each product is manufactured at our production facility and delivered ‘ready-to-be framed’ or ‘ready-to-hang’.</span>
        </div>
        <div class="fulfill__image"></div>
      </div>
    </div>
  </section>
  <section class="partnership">
    <div class="wrapper">
      <div class="partnership__container">
        <div class="partnership__left-image"></div>
        <div class="partnership__right-image"></div>
        <div class="partnership__description">
          <span class="partnership__first-letter">IN</span>
          <span class="partnership__content">a true 50/50 partnership, we showcase a stunning selection of contemporary and classic photographic art for design-savvy consumers who are looking for something unique and different.</span>
        </div>
      </div>
    </div>
  </section>
  <section class="perspective">
    <div class="wrapper">
      <div class="perspective__container">
        <div class="perspective__left-image"></div>
        <div class="perspective__center-image"></div>
        <div class="perspective__right-image"></div>
      </div>
    </div>
  </section>
  <section class="island-and-see">
  </section>
  <section class="addition">
    <div class="wrapper">
      <div class="addition__container">
        <div class="addition__desctiption">
          <span class="addition__first-letter">IN</span>
          <p class="addition__content">addition to providing an online marketplace and fulfillment company, PosterHaus helps</p>
          <p class="addition__content">to raise the profile of artists we represent by enabling them to monetize their art as well as by identifying opportunities where their art has the greatest appeal to consumers.</p>
        </div>
        <div class="addition__image"></div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="wrapper">
      <div class="footer__container">
        <div class="footer__content">
          <ul class="footer__column info">
            <li class="info__item footer__list-item">
              <a href="./about.html">About us</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="#">Contacts</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="#">FAQs</a>
            </li>
          </ul>
          <div class="footer__logo">
            <a href="#">Logo</a>
          </div>
          <ul class="footer__column media">
            <li class="media__item footer__list-item">
              <a href="#">
                Instagram
              </a>
            </li>
            <li class="footer__list-item">
              <a href="#">
                Facebook
              </a>
            </li>
            <li class="footer__list-item">
              <a href="#">
                Twitter
              </a>
            </li>
          </ul>
        </div>
        <div class="copyright">
          <div class="copyright__logo">Logo</div>
          <div class="copyright__description">© All rights reserved.</div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>