<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Artist</title>
</head>

<body>
  <section class="product-page__header">
    <div class="wrapper">
      <header class="header">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="./artworks.html">Artwork</a>
            </li>
            <li class="nav__item">
              <a href="./artists.html">Artists</a>
            </li>
          </ul>
        </nav>

        <a href="./index.html">
          <div class="logo logo--big_transparent_beige-frame"></div>
        </a>

        <div class="actions">
          <ul class="actions__list">
            <li id="open-wish-list-side-panel" class="actions__item like">
              <img src="./assets/icons/heart_black.svg" alt="like" />
            </li>
            <li class="actions__item login">
              <a href="./login.html" class="login__link">Log in</a>
            </li>
            <li class="actions__item currency">
              <select class="currency__select" name="currency-select" id="currency-select">
                <option class="currency__option" value="USD">USD</option>
                <option class="currency__option" value="INR">INR</option>
                <option class="currency__option" value="GBP">GBP</option>
                <option class="currency__option" value="CAD">CAD</option>
                <option class="currency__option" value="AUD">AUD</option>
                <option class="currency__option" value="EUR">EUR</option>
                <option class="currency__option" value="JPY">JPY</option>
              </select>
            </li>
            <li class="actions__item cart">
              <div class="cart__container">
                <a href="./cart.html" class="cart__link">Cart</a>
                <div class="cart__counter">0</div>
              </div>
            </li>
          </ul>
        </div>
      </header>
    </div>
  </section>



  <section class="main">
    <div class="wrapper">



      <div class="artist-page">

        <div class="address-bar">
          <div class="address-bar__container">
            <a href="./index.html" class="address-bar__item">Home</a>
            &nbsp;/&nbsp;
            <a href="./artists.html" class="address-bar__item">Artist</a>
            &nbsp;/&nbsp;
            <span class="address-bar__item">ANDRÉ KERTÉSZ</span>
          </div>
        </div>


        <div class="artist-page-details">

          <div class="artist-page-details__container">
            <div class="artist-page-details__content">
              <h2 class="artist-page-details__name">
                ANDRÉ KERTÉSZ
              </h2>
              <div class="artist-page-details__country">
                Hungary
              </div>
              <div class="artist-page-details__description">
                In 1925, André moved to Paris to fulfill his dream of pursuing a career as a photographer. After
                a short period of both artistic and personal struggle, his pioneering vision, brought him great success.
                His approach to the medium helped to define the shape of photojournalism in Europe, and subsequently
                America. During the next eleven years, Kertész built an extraordinary body of work, influenced by and
                influencing the many Artists with whom he interacted in Paris between the wars.
              </div>
              <div class="artist-page-details__social-networks">
                <div class="artist-page-details__social-networks-title">
                  Social networks
                </div>
                <div class="media-links__list">
                  <a href="#">
                    <div class="media-links__item">
                      <img src="./assets/icons/instagram.svg" alt="instagram" />
                    </div>
                  </a>
                  <a href="#">
                    <div class="media-links__item">
                      <img src="./assets/icons/twitter.svg" alt="twitter" />
                    </div>
                  </a>
                  <a href="#">
                    <div class="media-links__item">
                      <img src="./assets/icons/facebook.svg" alt="facebook" />
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="artist-page-details__image">
              <img src="" alt="artist" />
            </div>
          </div>
        </div>

        <div class="artist-page-biography">

          <div class="artist-page-biography__container">
            <div class="artist-page-biography__title">
              Biography
            </div>
            <div class="artist-page-biography__content">
              In 1925, André moved to Paris to fulfill his dream of pursuing a career as a photographer. After a short
              period of both artistic and personal struggle, his pioneering vision, brought him great success. His
              approach to the medium helped to define the shape of photojournalism in Europe, and subsequently America.
              During the next eleven years, Kertész built an extraordinary body of work, influenced by and influencing
              the many Artists with whom he interacted in Paris between the wars.
              In an increasingly competitive world, Kertész found his career began to fade in the mid 1930’s. With his
              wife Elizabeth, he left
            </div>
          </div>
        </div>



        <div class="artist-page__products-list">
          <div class="artist-page__title">
            ARTWORK
          </div>
          <div class="artist-page__content">



            <div class="react" data-type="manage-panel"></div>

          <div class="manage-panel">
            <div class="manage-panel__buttons-bar">
              <div class="manage-panel__filters" id="manage-panel__tabs">
                <div class="manage-panel__tab manage-panel__filter-item manage-panel__filter-item--state_active">
                    All
                </div>
                <div class="manage-panel__tab manage-panel__filter-item">
                    Artwork
                </div>
                <div class="manage-panel__tab manage-panel__filter-item">
                    Print
                </div>
            </div>
                <div class="manage-panel__filters">
                    <div class="manage-panel__filter-item">
                        <div class="dropdown-menu">
                            <button
                                id="manage-panel__sort-btn"
                                class="dropdown-menu__btn"
                            >
                                Sort by
                            </button>
                            <div
                                id="manage-panel__sort-menu"
                                class="dropdown-menu__content dropdown-menu__content--state_invisible"
                            >
                                <span class="dropdown-menu__item dropdown-menu__item--state_selected" >
                                    A to Z
                                </span>
                                <span class="dropdown-menu__item" >
                                    Price from low to high
                                </span>
                                <span class="dropdown-menu__item" >
                                    Price from high to low
                                </span>
                                <span class="dropdown-menu__item" >
                                    Newest
                                </span>
                                <span class="dropdown-menu__item" >
                                    Popular
                                </span>
                            </div>
                        </div>
                    </div>
                    <div
                        id="manage-panel__filter-btn"
                        class="manage-panel__filter-item"
                    >
                        Filter
                    </div>
                    <div
                        id="manage-panel__search-btn"
                        class="manage-panel__filter-item manage-panel__search-btn"
                    >
                        Search
                    </div>
                </div>
            </div>
            <div class="manage-panel__search-bar">
                <textarea
                    id="manage-panel__search-field"
                    class="manage-panel__search-field manage-panel__search-field--state_invisible"
                    placeholder="Search"
                ></textarea>
            </div>
          </div>
          <div>
            <div id="side-panel" class="side-panel side-panel--state_invisible">
              <form action="" class="filters-list">
                <div class="filter">
                  <div class="filter__title">Filter Title</div>

                  <input
                    type="text"
                    class="filter__search-field"
                    placeholder="Search"
                  />

                  <div class="filter__content">
                    <label class="filter__label custom-checkbox">
                      <input
                        type="checkbox"
                        class="filter__checkbox custom-checkbox__input"
                      />
                      <span class="custom-checkbox__label">
                        CheckBox label</span
                      >
                    </label>
                    <label class="filter__label custom-checkbox">
                      <input
                        type="checkbox"
                        class="filter__checkbox custom-checkbox__input"
                      />
                      <span class="custom-checkbox__label">
                        CheckBox label</span
                      >
                    </label>
                    <label class="filter__label custom-checkbox">
                      <input
                        type="checkbox"
                        class="filter__checkbox custom-checkbox__input"
                      />
                      <span class="custom-checkbox__label">
                        CheckBox label</span
                      >
                    </label>
                  </div>
                </div>

                <hr class="filter__delimiter" />

                <div class="filter">
                  <div class="filter__title">Filter Title</div>

                  <input
                    type="text"
                    class="filter__search-field"
                    placeholder="Search"
                  />

                  <div class="filter__content">
                    <label class="filter__label custom-checkbox">
                      <input
                        type="checkbox"
                        class="filter__checkbox custom-checkbox__input"
                      />
                      <span class="custom-checkbox__label">
                        CheckBox label</span
                      >
                    </label>
                    <label class="filter__label custom-checkbox">
                      <input
                        type="checkbox"
                        class="filter__checkbox custom-checkbox__input"
                      />
                      <span class="custom-checkbox__label">
                        CheckBox label
                      </span>
                    </label>
                    <label class="filter__label custom-checkbox">
                      <input
                        type="checkbox"
                        class="filter__checkbox custom-checkbox__input"
                      />
                        <span class="custom-checkbox__label">
                          CheckBox label
                        </span>
                    </label>
                  </div>

                  <div class="filter__tag-box">
                    <div class="tag tag--grey">
                      <div class="tag__content">Interior</div>
                    </div>
                    <div class="tag tag--grey">
                      <div class="tag__content">Interior</div>
                    </div>
                    <div class="tag tag--grey">
                      <div class="tag__content">Interior</div>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <div
              id="side-panel__backdrop"
              class="backdrop backdrop--state_invisible"
            />
          </div>

            <div class="card-list">
              <div class="card-list__cards">

                <div class="product-cart">
                  <div class="product-cart__like-container">
                    <div class="product-card__like-button product-card__like-button--state_inactive"></div>
                  </div>
                  <div class="product-cart__container">
                    <div class="product-card__image">
                      <a href="./artwork.html">
                        <img src="" alt="product1" />
                      </a>
                    </div>
                    <div class="product-cart__name">
                      <a href="./artwork.html">Product name</a>
                    </div>
                    <div class="product-cart__author">Author</div>
                    <div class="product-cart__price">$100.00</div>
                  </div>
                </div>

                <div class="product-cart">
                  <div class="product-cart__like-container">
                    <div class="product-card__like-button product-card__like-button--state_inactive"></div>
                  </div>
                  <div class="product-cart__container">
                    <div class="product-card__image">
                      <a href="./artwork.html">
                        <img src="" alt="product1" />
                      </a>
                    </div>
                    <div class="product-cart__name">
                      <a href="./artwork.html">Product name</a>
                    </div>
                    <div class="product-cart__author">Author</div>
                    <div class="product-cart__price">$100.00</div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>


        <div class="action-btn">
          <button class="button_bright--width_small">
            <span>Show more</span>
          </button>
        </div>



      </div>


    </div>
  </section>





  <footer class="footer">
    <div class="wrapper">
      <div class="footer__container">
        <div class="footer__content">
          <ul class="footer__column info">
            <li class="info__item footer__list-item">
              <a href="./about.html">About us</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="./contact.html">Contact</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="./faq.html">FAQs</a>
            </li>
          </ul>

          <a href="./index.html">
            <div class="logo--small_transparent_beige-frame"></div>
          </a>


          <ul class="footer__column media">
            <li class="media__item footer__list-item">
              <a href="#">
                Instagram
              </a>
            </li>
            <li class="footer__list-item">
              <a href="#">
                Facebook
              </a>
            </li>
            <li class="footer__list-item">
              <a href="#">
                Twitter
              </a>
            </li>
          </ul>
        </div>
        <div class="copyright">
          <div class="copyright__logo">
            <a href="./index.html">
              <div class="logo--small_transparent_beige-frame"></div>
            </a>
          </div>
          <div class="copyright__description">© All rights reserved.</div>
        </div>
      </div>
    </div>
    <div>
      <div class="react" data-type="wish-list-side-panel"></div>

      <div id="wish-list-side-panel" class="wish-list-side-panel wish-list-side-panel--state_invisible">
          <div class="wish-list-side-panel__close-container">
              <button id="wish-list-side-panel__close-btn" class="wish-list-side-panel__close-btn">Close</button>
          </div>
          <div class="wish-list-side-panel__content">
              <section class="wish-list-side-panel__cadslist">



                  <div class="wish-list-side-panel-card">
                      <div class="wish-list-side-panel-card__container">
                          <div class="wish-list-side-panel-card__image">
                              <img src="./assets/images/Product-to-sell-mock.png" alt="product" />
                          </div>
                          <div class="wish-list-side-panel-card__content">
                              <div class="wish-list-side-panel-card__name-container">
                                  <div class="wish-list-side-panel-card__name">
                                      "Buy", Long Island University
                                  </div>
                                  <button class="close-btn"></button>
                              </div>
                              <div class="wish-list-side-panel-card__info">
                                  <div class="wish-list-side-panel-card__info-keys">
                                      <span class="wish-list-side-panel-card__info-keys-item">Paper:</span>
                                      <span class="wish-list-side-panel-card__info-keys-item">Matte:</span>
                                      <span class="wish-list-side-panel-card__info-keys-item">Size:</span>
                                      <span class="wish-list-side-panel-card__info-keys-item">Frame:</span>
                                  </div>
                                  <div class="wish-list-side-panel-card__info-values">
                                      <span class="wish-list-side-panel-card__info-values-item">LexJet Sunset Photo eSatin — 300 gsm  LexJet Sunset Photo eSatin — 300 gsm</span>
                                      <span class="wish-list-side-panel-card__info-values-item">1” </span>
                                      <span class="wish-list-side-panel-card__info-values-item">8 x 10</span>
                                      <span class="wish-list-side-panel-card__info-values-item">Classic Black</span>
                                  </div>
                              </div>
                              <div class="wish-list-side-panel-card__price-container">
                                  <div class="wish-list-side-panel-card__counter-btn">
                                      <div class="wish-list-side-panel-card__counter-btn-action">-</div>
                                      <div class="wish-list-side-panel-card__count"><span>1</span></div>
                                      <div class="wish-list-side-panel-card__counter-btn-action">+</div>
                                  </div>
                                  <div class="wish-list-side-panel-card__price">$ 100.00</div>
                              </div>


                          </div>

                      </div>


                  </div>

                  <div class="wish-list-side-panel-card">
                      <div class="wish-list-side-panel-card__container">
                          <div class="wish-list-side-panel-card__image">
                              <img src="./assets/images/Product-to-sell-mock.png" alt="product" />
                          </div>
                          <div class="wish-list-side-panel-card__content">
                              <div class="wish-list-side-panel-card__name-container">
                                  <div class="wish-list-side-panel-card__name">
                                      "Buy", Long Island University
                                  </div>
                                  <button class="close-btn"></button>
                              </div>
                              <div class="wish-list-side-panel-card__info">
                                  <div class="wish-list-side-panel-card__info-keys">
                                      <span class="wish-list-side-panel-card__info-keys-item">Paper:</span>
                                      <span class="wish-list-side-panel-card__info-keys-item">Matte:</span>
                                      <span class="wish-list-side-panel-card__info-keys-item">Size:</span>
                                      <span class="wish-list-side-panel-card__info-keys-item">Frame:</span>
                                  </div>
                                  <div class="wish-list-side-panel-card__info-values">
                                      <span class="wish-list-side-panel-card__info-values-item">LexJet Sunset Photo eSatin — 300 gsm  LexJet Sunset Photo eSatin — 300 gsm</span>
                                      <span class="wish-list-side-panel-card__info-values-item">1” </span>
                                      <span class="wish-list-side-panel-card__info-values-item">8 x 10</span>
                                      <span class="wish-list-side-panel-card__info-values-item">Classic Black</span>
                                  </div>
                              </div>
                              <div class="wish-list-side-panel-card__price-container">
                                  <div class="wish-list-side-panel-card__counter-btn">
                                      <div class="wish-list-side-panel-card__counter-btn-action">-</div>
                                      <div class="wish-list-side-panel-card__count"><span>1</span></div>
                                      <div class="wish-list-side-panel-card__counter-btn-action">+</div>
                                  </div>
                                  <div class="wish-list-side-panel-card__price">$ 100.00</div>
                              </div>


                          </div>

                      </div>


                  </div>









              </section>


              <div class="wish-list-side-panel__subtotal">
                  <div class="wish-list-side-panel__subtotal-item">
                      Subtotal
                  </div>
                  <div class="wish-list-side-panel__subtotal-item">
                      300.00 EUR
                  </div>
              </div>



              <div class="wish-list-side-panel__action-btns">
                  <button id="wish-list-side-panel__continue-shopping-btn" class="wish-list-side-panel__transparent-btn wish-list-side-panel__action-btn">
                      <span>Continue shopping</span>
                  </button>
                  <a href="./wishlist.html">
                      <button class="wish-list-side-panel__dark-btn wish-list-side-panel__action-btn">
                          <span>Go to cart</span>
                      </button>
                  </a>
              </div>




          </div>





      </div>

      <div
        id="wish-list-side-panel__backdrop"
        class="backdrop backdrop--state_invisible"
      />
    </div>
  </footer>
</body>

</html>