<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Artists</title>
</head>

<body>
  <section class="selection artists">
    <div class="wrapper">
      <div class="selection__container">
        <header class="header">
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item">
                <a href="./artworks.html">Artwork</a>
              </li>
              <li class="nav__item">
                <a href="./artists.html">Artists</a>
              </li>
            </ul>
          </nav>

          <a href="./index.html">
            <div class="logo logo--big_transparent_beige-frame"></div>
          </a>

          <div class="actions">
            <ul class="actions__list">
              <li class="actions__item like">

                <a href="./wishlist.html">
                  <img src="./assets/icons/heart_black.svg" alt="wishlist">
                </a>
              </li>


              <li class="actions__item login">
                <a href="./login.html" class="login__link">Log in</a>
              </li>

              <li class="actions__item currency">
                <select class="currency__select" name="currency-select" id="currency-select">
                  <option class="currency__option" value="USD">USD</option>
                  <option class="currency__option" value="INR">INR</option>
                  <option class="currency__option" value="GBP">GBP</option>
                  <option class="currency__option" value="CAD">CAD</option>
                  <option class="currency__option" value="AUD">AUD</option>
                  <option class="currency__option" value="EUR">EUR</option>
                  <option class="currency__option" value="JPY">JPY</option>
                </select>
              </li>

              <li class="actions__item cart">
                <div class="cart__container">
                  <a href="./cart.html" class="cart__link">Cart</a>
                  <div class="cart__counter">0</div>
                </div>
              </li>
            </ul>
          </div>
        </header>
        <div class="selection__content">
          <h1 class="selection__title">
            Artists
          </h1>
          <div class="selection__description">
            exclusive contemporary & classic fine-art photography
          </div>
        </div>
      </div>
    </div>
  </section>




  <section class="address-bar">
    <div class="wrapper">
      <div class="address-bar__container">
        <a href="./index.html" class="address-bar__item">Home</a>
        &nbsp;/&nbsp;
        <a href="./artists.html" class="address-bar__item">Artists</a>
      </div>
    </div>
  </section>


  <section class="main">
    <div class="wrapper">

      <div class="artists-page">


        <div class="react" data-type="manage-panel"></div>

        <div class="manage-panel">
          <div class="manage-panel__buttons-bar">
            <div class="manage-panel__filters" id="manage-panel__tabs"></div>
              <div class="manage-panel__filters">
                  <div class="manage-panel__filter-item">
                      <div class="dropdown-menu">
                          <button
                              id="manage-panel__sort-btn"
                              class="dropdown-menu__btn"
                          >
                              Sort by
                          </button>
                          <div
                              id="manage-panel__sort-menu"
                              class="dropdown-menu__content dropdown-menu__content--state_invisible"
                          >
                              <span class="dropdown-menu__item dropdown-menu__item--state_selected" >
                                  A to Z
                              </span>
                              <span class="dropdown-menu__item" >
                                  Price from low to high
                              </span>
                              <span class="dropdown-menu__item" >
                                  Price from high to low
                              </span>
                              <span class="dropdown-menu__item" >
                                  Newest
                              </span>
                              <span class="dropdown-menu__item" >
                                  Popular
                              </span>
                          </div>
                      </div>
                  </div>
                  <div
                      id="manage-panel__filter-btn"
                      class="manage-panel__filter-item"
                  >
                      Filter
                  </div>
                  <div
                      id="manage-panel__search-btn"
                      class="manage-panel__filter-item manage-panel__search-btn"
                  >
                      Search
                  </div>
              </div>
          </div>
          <div class="manage-panel__search-bar">
            <input
              type="text"
              id="manage-panel__search-field"
              class="manage-panel__search-field manage-panel__search-field--state_invisible"
              placeholder="Search"
            >
            <div class="close-btn manage-panel__search-field-close-btn"></div>
          </div>
        </div>

        <div>
          <div id="side-panel" class="side-panel side-panel--state_invisible">
            <form action="" class="filters-list">
              <div class="filter">
                <div class="filter__title">Filter Title</div>

                <input
                  type="text"
                  class="filter__search-field"
                  placeholder="Search"
                />

                <div class="filter__content">
                  <label class="filter__label custom-checkbox">
                    <input
                      type="checkbox"
                      class="filter__checkbox custom-checkbox__input"
                    />
                    <span class="custom-checkbox__label">
                      CheckBox label</span
                    >
                  </label>
                  <label class="filter__label custom-checkbox">
                    <input
                      type="checkbox"
                      class="filter__checkbox custom-checkbox__input"
                    />
                    <span class="custom-checkbox__label">
                      CheckBox label</span
                    >
                  </label>
                  <label class="filter__label custom-checkbox">
                    <input
                      type="checkbox"
                      class="filter__checkbox custom-checkbox__input"
                    />
                    <span class="custom-checkbox__label">
                      CheckBox label</span
                    >
                  </label>
                </div>
              </div>

              <hr class="filter__delimiter" />

              <div class="filter">
                <div class="filter__title">Filter Title</div>

                <input
                  type="text"
                  class="filter__search-field"
                  placeholder="Search"
                />

                <div class="filter__content">
                  <label class="filter__label custom-checkbox">
                    <input
                      type="checkbox"
                      class="filter__checkbox custom-checkbox__input"
                    />
                    <span class="custom-checkbox__label">
                      CheckBox label</span
                    >
                  </label>
                  <label class="filter__label custom-checkbox">
                    <input
                      type="checkbox"
                      class="filter__checkbox custom-checkbox__input"
                    />
                    <span class="custom-checkbox__label">
                      CheckBox label
                    </span>
                  </label>
                  <label class="filter__label custom-checkbox">
                    <input
                      type="checkbox"
                      class="filter__checkbox custom-checkbox__input"
                    />
                      <span class="custom-checkbox__label">
                        CheckBox label
                      </span>
                  </label>
                </div>

                <div class="filter__tag-box">
                  <div class="tag tag--grey">
                    <div class="tag__content">Interior</div>
                  </div>
                  <div class="tag tag--grey">
                    <div class="tag__content">Interior</div>
                  </div>
                  <div class="tag tag--grey">
                    <div class="tag__content">Interior</div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div
            id="side-panel__backdrop"
            class="backdrop backdrop--grey backdrop--state_invisible"
          />
        </div>


















        <div class="home-page__products-list">
          <div class="home-page__content">

            <div class="card-list">
              <div class="card-list__cards">


                <div class="artist-card">
                  <div class="artist-card__container">
                    <div class="artist-card__image">
                      <a href="./artist.html">
                        <img src="" alt="product1" />

                      </a>
                    </div>
                    <div class="artist-card__name">
                      <a href="./artist.html">Name Surname</a>
                    </div>
                    <div class="artist-card__location">
                      Country
                    </div>
                  </div>
                </div>
                <div class="artist-card">
                  <div class="artist-card__container">
                    <div class="artist-card__image">
                      <a href="./artist.html">
                        <img src="" alt="product1" />

                      </a>
                    </div>
                    <div class="artist-card__name">
                      <a href="./artist.html">Name Surname</a>
                    </div>
                    <div class="artist-card__location">
                      Country
                    </div>
                  </div>
                </div>
                <div class="artist-card">
                  <div class="artist-card__container">
                    <div class="artist-card__image">
                      <a href="./artist.html">
                        <img src="" alt="product1" />

                      </a>
                    </div>
                    <div class="artist-card__name">
                      <a href="./artist.html">Name Surname</a>
                    </div>
                    <div class="artist-card__location">
                      Country
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>
        </div>
        <div class="action-btn">

          <button class="button_bright--width_small">
            <span>Show more</span>
          </button>

        </div>
      </div>


    </div>
    </div>
  </section>
  <footer class="footer">
    <div class="wrapper">
      <div class="footer__container">
        <div class="footer__content">
          <ul class="footer__column info">
            <li class="info__item footer__list-item">
              <a href="./about.html">About us</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="./contact.html">Contact</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="./faq.html">FAQs</a>
            </li>
          </ul>

          <a href="./index.html">
            <div class="logo--small_transparent_beige-frame"></div>
          </a>

          <ul class="footer__column media">
            <li class="media__item footer__list-item">
              <a href="#">
                Instagram
              </a>
            </li>
            <li class="footer__list-item">
              <a href="#">
                Facebook
              </a>
            </li>
            <li class="footer__list-item">
              <a href="#">
                Twitter
              </a>
            </li>
          </ul>
        </div>
        <div class="copyright">
          <div class="copyright__description">Copyright © 2021 Posterhaus. All rights reserved.</div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>