<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
</head>
<body class="contact">
  <section class="selection contact__header">

    <div class="wrapper">
      <div class="selection__container">
        <header class="header">
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item">
                <a href="./artworks.html">Artwork</a>
              </li>
              <li class="nav__item">
                <a href="./artists.html">Artists</a>
              </li>
            </ul>
          </nav>

          <a href="./index.html">
            <div class="logo logo--big_transparent_beige-frame"></div>
          </a>

          <div class="actions">
            <ul class="actions__list">
              <li class="actions__item like">

                <a href="./wishlist.html">
                  <img src="./assets/icons/heart_black.svg" alt="like">
                </a>
              </li>
              <li class="actions__item login">
                <a href="./login.html" class="login__link">Log in</a>
              </li>

              <li class="actions__item currency">
                <select class="currency__select" name="currency-select" id="currency-select">
                  <option class="currency__option" value="USD">USD</option>
                  <option class="currency__option" value="INR">INR</option>
                  <option class="currency__option" value="GBP">GBP</option>
                  <option class="currency__option" value="CAD">CAD</option>
                  <option class="currency__option" value="AUD">AUD</option>
                  <option class="currency__option" value="EUR">EUR</option>
                  <option class="currency__option" value="JPY">JPY</option>
                </select>
              </li>

              <li class="actions__item cart">
                <div class="cart__container">
                  <a href="./cart.html" class="cart__link">Cart</a>
                  <div class="cart__counter">0</div>
                </div>
              </li>
            </ul>
          </div>
        </header>
        <div class="selection__content">
          <h1 class="selection__title">
            CONTACT
          </h1>
        </div>
      </div>
    </div>
  </section>

  <section class="main">
    <div class="wrapper">
      <div class="contact-page">
        <div class="address-bar">
          <div class="address-bar__container">
            <a href="./index.html" class="address-bar__item">Home</a>
            &nbsp;/&nbsp;
            <a href="./contact.html" class="address-bar__item">Contact</a>
          </div>
        </div>

        <div class="contact-page__container">
          <div class="admin-pages-list">
            <div class="admin-pages-list__item admin-pages-list__item--state_inactive">Contact</div>
            <div class="admin-pages-list__item admin-pages-list__item--state_active">Returns</div>
            <div class="admin-pages-list__item admin-pages-list__item--state_inactive">Trade/Vendors</div>
            <div class="admin-pages-list__item admin-pages-list__item--state_inactive">Artists</div>
          </div>

          <div class="contact-page__content">




            <h3 class="contact-page__title">Returns</h3>
            <div class="contact-page__input-list">
              <div class="input-field">
                <div class="input-field__label">First name*</div>
                <div class="input-field__inputs-set">
                  <input type="text" class="input-field__input" placeholder="" />
                </div>
              </div>

              <div class="input-field">
                <div class="input-field__label">Last name*</div>
                <div class="input-field__inputs-set">
                  <input type="text" class="input-field__input" placeholder="" />
                </div>
              </div>

              <div class="input-field">
                <div class="input-field__label">Street address*</div>
                <div class="input-field__inputs-set">
                  <input type="text" class="input-field__input" placeholder="House number and street name" />
                  <input type="text" class="input-field__input" placeholder="Appartment, suite, unit, etc. (optional)" />
                </div>
              </div>

              <div class="input-field">
                <div class="input-field__label">Town / City*</div>
                <div class="input-field__inputs-set">
                  <input type="text" class="input-field__input" placeholder="" />
                </div>
              </div>

              <div class="dropdown-input-field">
                <div class="dropdown-input-field__title">Province / State*</div>

                <div class="dropdown-input-field__container">
                  <button class="
                        dropdown-input-field__btn
                        dropdown-input-field__btn--state_inactive
                      ">
                    <div class="dropdown-input-field__btn-label">
                      United States
                    </div>
                    <div class="dropdown-input-field__btn-icon arrow-bottom"></div>
                  </button>
                  <div class="
                        dropdown-input-field__content
                        dropdown-input-field__content--state_invisible
                      ">
                    <input type="text" class="dropdown-input-field__search-field" placeholder="Search" />
                    <div class="dropdown-input-field__options">
                      <div class="
                            dropdown-input-field__option
                            dropdown-input-field__option--state_selected
                          ">
                        <div class="
                              dropdown-input-field__option-label
                              dropdown-input-field__label-to-replace
                            ">
                          Belarus
                        </div>
                      </div>
                      <div class="
                            dropdown-input-field__option
                            dropdown-input-field__option--state_selected
                          ">
                        <div class="
                              dropdown-input-field__option-label
                              dropdown-input-field__label-to-replace
                            ">
                          Poland
                        </div>
                      </div>
                      <div class="
                            dropdown-input-field__option
                            dropdown-input-field__option--state_selected
                          ">
                        <div class="
                              dropdown-input-field__option-label
                              dropdown-input-field__label-to-replace
                            ">
                          Poland
                        </div>
                      </div>
                      <div class="
                            dropdown-input-field__option
                            dropdown-input-field__option--state_selected
                          ">
                        <div class="
                              dropdown-input-field__option-label
                              dropdown-input-field__label-to-replace
                            ">
                          Poland
                        </div>
                      </div>
                      <div class="
                            dropdown-input-field__option
                            dropdown-input-field__option--state_selected
                          ">
                        <div class="
                              dropdown-input-field__option-label
                              dropdown-input-field__label-to-replace
                            ">
                          Poland
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="backdrop backdrop--state_invisible"></div>
                </div>
              </div>

              <div class="dropdown-input-field">
                <div class="dropdown-input-field__title">
                  Country / Region*
                </div>

                <div class="dropdown-input-field__container">
                  <button class="
                        dropdown-input-field__btn
                        dropdown-input-field__btn--state_inactive
                      ">
                    <div class="dropdown-input-field__btn-label">
                      United States
                    </div>
                    <div class="dropdown-input-field__btn-icon arrow-bottom"></div>
                  </button>
                  <div class="dropdown-input-field__content dropdown-input-field__content--state_invisible">
                    <input type="text" class="dropdown-input-field__search-field" placeholder="Search">
                    <div class="dropdown-input-field__options">
                      <div class="dropdown-input-field__option dropdown-input-field__option--state_selected">
                        <div class="dropdown-input-field__option-label dropdown-input-field__label-to-replace">
                          Belarus
                        </div>
                      </div>
                      <div class="dropdown-input-field__option dropdown-input-field__option--state_selected">
                        <div class="dropdown-input-field__option-label dropdown-input-field__label-to-replace">
                          Poland
                        </div>
                      </div>
                      <div class="
                            dropdown-input-field__option
                            dropdown-input-field__option--state_selected
                          ">
                        <div class="
                              dropdown-input-field__option-label
                              dropdown-input-field__label-to-replace
                            ">
                          Poland
                        </div>
                      </div>
                      <div class="
                            dropdown-input-field__option
                            dropdown-input-field__option--state_selected
                          ">
                        <div class="
                              dropdown-input-field__option-label
                              dropdown-input-field__label-to-replace
                            ">
                          Poland
                        </div>
                      </div>
                      <div class="
                            dropdown-input-field__option
                            dropdown-input-field__option--state_selected
                          ">
                        <div class="
                              dropdown-input-field__option-label
                              dropdown-input-field__label-to-replace
                            ">
                          Poland
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="backdrop backdrop--state_invisible"></div>
                </div>
              </div>


              <div class="input-field">
                <div class="input-field__label">Postal / ZIP code*</div>
                <div class="input-field__inputs-set">
                  <input type="text" class="input-field__input" placeholder="" />
                </div>
              </div>

              <div class="dropdown-input-field" data-type="dropdown-input-field">
                <div class="dropdown-input-field__title">Phone number*</div>
                <div class="dropdown-input-field__container">
                  <button class="
                        dropdown-input-field__btn
                        dropdown-input-field__btn--state_inactive
                        phone-custom-input__dropdown-button
                      ">
                    <div class="
                          dropdown-input-field__btn-label
                          phone-custom-input__btn-selected
                        ">
                      <img src="./assets/icons/Canada.png" alt="option" />
                    </div>
                    <div class="dropdown-input-field__btn-icon arrow-bottom"></div>
                  </button>
                  <input type="text" class="
                        dropdown-input-field__content__input
                        input-field__input
                      " placeholder="(+1)" />
                  <div class="
                        dropdown-input-field__content
                        dropdown-input-field__content--state_invisible
                      ">
                    <div id="dialing-code-options" class="dropdown-input-field__options">
                      <div class="dropdown-input-field__option">
                        <div class="dropdown-input-field__label-to-replace">
                          <img src="./assets/icons/Canada.png" alt="flag" />
                        </div>
                        <div class="dropdown-input-field__option-label">
                          Canada
                        </div>
                        <div class="dialing-code">(+1)</div>
                      </div>
                      <div class="dropdown-input-field__option">
                        <div class="dropdown-input-field__label-to-replace">
                          <img src="" alt="flag" />
                        </div>
                        <div class="dropdown-input-field__option-label">
                          Belarus
                        </div>
                        <div class="dialing-code">(+2)</div>
                      </div>
                      <div class="dropdown-input-field__option">
                        <div class="dropdown-input-field__label-to-replace">
                          <img src="" alt="flag" />
                        </div>
                        <div class="dropdown-input-field__option-label">
                          Canada
                        </div>
                        <div class="dialing-code">(+3)</div>
                      </div>
                    </div>
                  </div>
                  <div class="backdrop backdrop--state_invisible"></div>
                </div>
              </div>

              <div class="input-field">
                <div class="input-field__label">Subject*</div>
                <div class="input-field__inputs-set">
                  <input type="text" class="input-field__input" placeholder="" />
                </div>
              </div>

              <div class="input-field">
                <div class="input-field__label">E-mail address*</div>
                <div class="input-field__inputs-set">
                  <input type="text" class="input-field__input" placeholder="" />
                </div>
              </div>

              <div class="input-field">
                <div class="input-field__label">Your message*</div>
                <div class="input-field__inputs-set">
                  <textarea class="input-field__input contact-page__textarea" placeholder="Your message here..."></textarea>
                </div>
              </div>


            </div>

            <button class="button_dark">
              <span>Submit</span>
            </button>


          </div>

        </div>





      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="wrapper">
      <div class="footer__container">
        <div class="footer__content">
          <ul class="footer__column info">
            <li class="info__item footer__list-item">
              <a href="./about.html">About us</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="#">Contacts</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="./faq.html">FAQs</a>
            </li>
          </ul>
          <a href="./index.html">
            <div class="logo--small_transparent_beige-frame"></div>
          </a>
          <ul class="footer__column media">
            <li class="media__item footer__list-item">
              <a href="#">
                Instagram
              </a>
            </li>
            <li class="footer__list-item">
              <a href="#">
                Facebook
              </a>
            </li>
            <li class="footer__list-item">
              <a href="#">
                Twitter
              </a>
            </li>
          </ul>
        </div>
        <div class="copyright">
          <div class="copyright__description">Copyright © 2021 Posterhaus. All rights reserved.</div>
        </div>
      </div>
    </div>
  </footer>
  <div class="react" data-type="dropdown-input-field" />
  <div class="react" data-type="phone-custom-input" />
</body>
</html>