<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FAQ</title>
</head>
<body class="faq">
  <section class="selection faq__header">
    <div class="wrapper">
      <div class="selection__container">
        <header class="header">
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item">
                <a href="./artworks.html">Artwork</a>
              </li>
              <li class="nav__item">
                <a href="./artists.html">Artists</a>
              </li>
            </ul>
          </nav>

          <a href="./index.html">
            <div class="logo logo--big_transparent_beige-frame"></div>
          </a>

          <div class="actions">
            <ul class="actions__list">
              <li class="actions__item like">

                <a href="./wishlist.html">
                  <img src="./assets/icons/heart_black.svg" alt="like">
                </a>
              </li>
              <li class="actions__item login">
                <a href="./login.html" class="login__link">Log in</a>
              </li>

              <li class="actions__item currency">
                <select class="currency__select" name="currency-select" id="currency-select">
                  <option class="currency__option" value="USD">USD</option>
                  <option class="currency__option" value="INR">INR</option>
                  <option class="currency__option" value="GBP">GBP</option>
                  <option class="currency__option" value="CAD">CAD</option>
                  <option class="currency__option" value="AUD">AUD</option>
                  <option class="currency__option" value="EUR">EUR</option>
                  <option class="currency__option" value="JPY">JPY</option>
                </select>
              </li>

              <li class="actions__item cart">
                <div class="cart__container">
                  <a href="./cart.html" class="cart__link">Cart</a>
                  <div class="cart__counter">0</div>
                </div>
              </li>
            </ul>
          </div>
        </header>
        <div class="selection__content">
          <h1 class="selection__title">
            FAQ
          </h1>
        </div>
      </div>
    </div>
  </section>
  <section class="main">
    <div class="wrapper">





        <div class="faq-page">
          <div class="address-bar">
            <div class="address-bar__container">
              <a href="./index.html" class="address-bar__item">Home</a>
              &nbsp;/&nbsp;
              <a href="./faq.html" class="address-bar__item">FAQ</a>
            </div>
          </div>


          <div class="faq-page__container">

            <div class="react" data-type="dropdown-info"></div>

                                <div class="dropdown-info  ">
                                    <button class="dropdown-info__btn faq-page__drop-down-btn dropdown-info__btn--state_inactive click-outside-handler">
                                        <div class="dropdown-info__btn-content click-outside-handler">
                                            <div class="dropdown-info__btn-title click-outside-handler">
                                              Where is PosterHaus located?
                                            </div>
                                        </div>
                                        <div class="click-outside-handler">
                                            +
                                        </div>
                                    </button>
                                    <div class="dropdown-info__content dropdown-info__content--state_invisible">
                                        <div class="dropdown-info__description">
                                            <div class="dropdown-info__description-item">
                                              Our corporate office is located in Toronto, Ontario, Canada where our production and fulfillment facility is also located.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="dropdown-info  ">
                                    <button class="dropdown-info__btn faq-page__drop-down-btn dropdown-info__btn--state_inactive click-outside-handler">
                                        <div class="dropdown-info__btn-content click-outside-handler">
                                            <div class="dropdown-info__btn-title click-outside-handler">
                                              What type of art should customers expect when visiting PosterHaus?
                                            </div>
                                        </div>
                                        <div class="click-outside-handler">
                                            +
                                        </div>
                                    </button>
                                    <div class="dropdown-info__content dropdown-info__content--state_invisible">
                                        <div class="dropdown-info__description">
                                            <div class="dropdown-info__description-item">
                                              We offer a curated selection of stunning art photography in a variety of styles that are not available for sale anywhere else online. Available art are all originals, available in a wide variety of styles and sourced directly from the artists.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="dropdown-info  ">
                                    <button class="dropdown-info__btn faq-page__drop-down-btn dropdown-info__btn--state_inactive click-outside-handler">
                                        <div class="dropdown-info__btn-content click-outside-handler">
                                            <div class="dropdown-info__btn-title click-outside-handler">
                                              Why does PosterHaus only offer photography?
                                            </div>
                                        </div>
                                        <div class="click-outside-handler">
                                            +
                                        </div>
                                    </button>
                                    <div class="dropdown-info__content dropdown-info__content--state_invisible">
                                        <div class="dropdown-info__description">
                                            <div class="dropdown-info__description-item">
                                              Members of our team possess a broad range of art, design and photography backgrounds which has enabled us to develop a unique platform that is focused on art photography. We don’t want to be everything to everyone; instead, our core focus is to source curated works of photographic art directly from the artists and offer them for sale to customers who are looking for something unique that fits nicely with the décor in their home, condo, office, or retail space.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-info  ">
                                    <button class="dropdown-info__btn faq-page__drop-down-btn dropdown-info__btn--state_inactive click-outside-handler">
                                        <div class="dropdown-info__btn-content click-outside-handler">
                                            <div class="dropdown-info__btn-title click-outside-handler">
                                              How does PosterHaus control the quality of the art available for sale?
                                            </div>
                                        </div>
                                        <div class="click-outside-handler">
                                            +
                                        </div>
                                    </button>
                                    <div class="dropdown-info__content dropdown-info__content--state_invisible">
                                        <div class="dropdown-info__description">
                                            <div class="dropdown-info__description-item">
                                              We only work with like-minded professionals who follow the highest technical and ethical standards and are as passionate about art as we are.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-info  ">
                                    <button class="dropdown-info__btn faq-page__drop-down-btn dropdown-info__btn--state_inactive click-outside-handler">
                                        <div class="dropdown-info__btn-content click-outside-handler">
                                            <div class="dropdown-info__btn-title click-outside-handler">
                                              How does PosterHaus instill confidence to their customers?
                                            </div>
                                        </div>
                                        <div class="click-outside-handler">
                                            +
                                        </div>
                                    </button>
                                    <div class="dropdown-info__content dropdown-info__content--state_invisible">
                                        <div class="dropdown-info__description">
                                            <div class="dropdown-info__description-item">
                                              We are just as passionate about art as our artists are about creating it. We don’t accept things that are ‘ok’ or ‘good enough’ and that is how we have also developed our shopping experience. All of the art listed includes a realistic preview and a thorough description of the artist.
                                            </div>
                                            <div class="dropdown-info__description-item">
                                              In an effort to provide a seamless purchasing experience, we offer museum quality framing option when purchasing, worldwide shipping and an uncomplicated return policy.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-info  ">
                                    <button class="dropdown-info__btn faq-page__drop-down-btn dropdown-info__btn--state_inactive click-outside-handler">
                                        <div class="dropdown-info__btn-content click-outside-handler">
                                            <div class="dropdown-info__btn-title click-outside-handler">
                                              What are the options to pay for my order?
                                            </div>
                                        </div>
                                        <div class="click-outside-handler">
                                            +
                                        </div>
                                    </button>
                                    <div class="dropdown-info__content dropdown-info__content--state_invisible">
                                        <div class="dropdown-info__description">
                                            <div class="dropdown-info__description-item">
                                              Currently we accept Visa, Mastercard, American Express, Apple Pay, Google Pay, PayPal and we have also partnered with Sezzle that allows shoppers to purchase today and make 4 interest-free payments over 6 weeks!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-info  ">
                                    <button class="dropdown-info__btn faq-page__drop-down-btn dropdown-info__btn--state_inactive click-outside-handler">
                                        <div class="dropdown-info__btn-content click-outside-handler">
                                            <div class="dropdown-info__btn-title click-outside-handler">
                                              Is it secure to purchase from your website?
                                            </div>
                                        </div>
                                        <div class="click-outside-handler">
                                            +
                                        </div>
                                    </button>
                                    <div class="dropdown-info__content dropdown-info__content--state_invisible">
                                        <div class="dropdown-info__description">
                                            <div class="dropdown-info__description-item">
                                              Yes, it's secure to purchase from our website. During the order process, SSL encryption is applied to protect all the data and information you provided for the order.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-info  ">
                                    <button class="dropdown-info__btn faq-page__drop-down-btn dropdown-info__btn--state_inactive click-outside-handler">
                                        <div class="dropdown-info__btn-content click-outside-handler">
                                            <div class="dropdown-info__btn-title click-outside-handler">
                                              Can I place my order over the phone?
                                            </div>
                                        </div>
                                        <div class="click-outside-handler">
                                            +
                                        </div>
                                    </button>
                                    <div class="dropdown-info__content dropdown-info__content--state_invisible">
                                        <div class="dropdown-info__description">
                                            <div class="dropdown-info__description-item">
                                              No. All orders must be placed online.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-info  ">
                                    <button class="dropdown-info__btn faq-page__drop-down-btn dropdown-info__btn--state_inactive click-outside-handler">
                                        <div class="dropdown-info__btn-content click-outside-handler">
                                            <div class="dropdown-info__btn-title click-outside-handler">
                                              I'm buying a gift. Will the purchase price appear on the invoice with my order?
                                            </div>
                                        </div>
                                        <div class="click-outside-handler">
                                            +
                                        </div>
                                    </button>
                                    <div class="dropdown-info__content dropdown-info__content--state_invisible">
                                        <div class="dropdown-info__description">
                                            <div class="dropdown-info__description-item">
                                              You can send your order as a gift. We do not include any dollar amounts on the invoice that will be included with your purchase.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-info  ">
                                    <button class="dropdown-info__btn faq-page__drop-down-btn dropdown-info__btn--state_inactive click-outside-handler">
                                        <div class="dropdown-info__btn-content click-outside-handler">
                                            <div class="dropdown-info__btn-title click-outside-handler">
                                              Can I include a gift message with my purchase?
                                            </div>
                                        </div>
                                        <div class="click-outside-handler">
                                            +
                                        </div>
                                    </button>
                                    <div class="dropdown-info__content dropdown-info__content--state_invisible">
                                        <div class="dropdown-info__description">
                                            <div class="dropdown-info__description-item">
                                              Unfortunately, you cannot include a gift message with your purchases from PosterHaus.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-info  ">
                                    <button class="dropdown-info__btn faq-page__drop-down-btn dropdown-info__btn--state_inactive click-outside-handler">
                                        <div class="dropdown-info__btn-content click-outside-handler">
                                            <div class="dropdown-info__btn-title click-outside-handler">
                                              Does PosterHaus ship worldwide?
                                            </div>
                                        </div>
                                        <div class="click-outside-handler">
                                            +
                                        </div>
                                    </button>
                                    <div class="dropdown-info__content dropdown-info__content--state_invisible">
                                        <div class="dropdown-info__description">
                                            <div class="dropdown-info__description-item">
                                              Yes. We primarily ship within North America using UPS, however if you can receive a package via DHL, UPS or FedEx, then we can ship to you! International shipments are accepted and will be quoted on a case-by-case basis.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-info  ">
                                    <button class="dropdown-info__btn faq-page__drop-down-btn dropdown-info__btn--state_inactive click-outside-handler">
                                        <div class="dropdown-info__btn-content click-outside-handler">
                                            <div class="dropdown-info__btn-title click-outside-handler">
                                              When will my order ship?
                                            </div>
                                        </div>
                                        <div class="click-outside-handler">
                                            +
                                        </div>
                                    </button>
                                    <div class="dropdown-info__content dropdown-info__content--state_invisible">
                                        <div class="dropdown-info__description">
                                            <div class="dropdown-info__description-item">
                                              Products require 3-10 business days to print and manufacture before shipping, depending on the product. Products will ship from our Toronto manufacturing facility once they have passed our three-level quality control requirement.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-info  ">
                                    <button class="dropdown-info__btn faq-page__drop-down-btn dropdown-info__btn--state_inactive click-outside-handler">
                                        <div class="dropdown-info__btn-content click-outside-handler">
                                            <div class="dropdown-info__btn-title click-outside-handler">
                                              Where is my order?
                                            </div>
                                        </div>
                                        <div class="click-outside-handler">
                                            +
                                        </div>
                                    </button>
                                    <div class="dropdown-info__content dropdown-info__content--state_invisible">
                                        <div class="dropdown-info__description">
                                            <div class="dropdown-info__description-item">
                                              As soon as your order ships, we'll send you an e-mail confirmation with a tracking number included in the e-mail. We send the e-mail to the e-mail address that you provided when you placed your order.
                                            </div>
                                            <div class="dropdown-info__description-item">
                                              If you want to check on the status of your order at any time, just login to your account here on PosterHaus and then click on your <b>"purchases"</b> page.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-info  ">
                                    <button class="dropdown-info__btn faq-page__drop-down-btn dropdown-info__btn--state_inactive click-outside-handler">
                                        <div class="dropdown-info__btn-content click-outside-handler">
                                            <div class="dropdown-info__btn-title click-outside-handler">
                                              What is your cancellation / return policy?
                                            </div>
                                        </div>
                                        <div class="click-outside-handler">
                                            +
                                        </div>
                                    </button>
                                    <div class="dropdown-info__content dropdown-info__content--state_invisible">
                                        <div class="dropdown-info__description">
                                            <div class="dropdown-info__description-item">
                                              If you're not happy with a purchase that you made on PosterHaus.com, for any reason, you can return it to us within 30 days of the order date. As soon as it arrives, we'll issue a full refund for the entire purchase price.
                                            </div>
                                            <div class="dropdown-info__description-item">
                                              Please note — we do not reimburse the outgoing or return shipping charges. To initiate a return, please go to the <a href="#">Returns</a> page.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-info  ">
                                    <button class="dropdown-info__btn faq-page__drop-down-btn dropdown-info__btn--state_inactive click-outside-handler">
                                        <div class="dropdown-info__btn-content click-outside-handler">
                                            <div class="dropdown-info__btn-title click-outside-handler">
                                              Do you offer wholesale prices?
                                            </div>
                                        </div>
                                        <div class="click-outside-handler">
                                            +
                                        </div>
                                    </button>
                                    <div class="dropdown-info__content dropdown-info__content--state_invisible">
                                        <div class="dropdown-info__description">
                                            <div class="dropdown-info__description-item">
                                              Yes, we offer wholesale prices. If you are planning to purchase 50 or more of the same print, we will be able to offer a bulk-purchase discount. Please contact us regarding your bulk purchase using the following page: <a href="#">Trade/Vendor</a>
                                            </div>
                                            <div class="dropdown-info__description-item">
                                              In order to provide you with a quote, we need to know exactly what you intend to purchase. Please provide links to all of the artwork pages and include detailed information about the print sizes, frames, mats, etc.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-info  ">
                                    <button class="dropdown-info__btn faq-page__drop-down-btn dropdown-info__btn--state_inactive click-outside-handler">
                                        <div class="dropdown-info__btn-content click-outside-handler">
                                            <div class="dropdown-info__btn-title click-outside-handler">
                                              Can I pay with a purchase order?
                                            </div>
                                        </div>
                                        <div class="click-outside-handler">
                                            +
                                        </div>
                                    </button>
                                    <div class="dropdown-info__content dropdown-info__content--state_invisible">
                                        <div class="dropdown-info__description">
                                            <div class="dropdown-info__description-item">
                                              All orders must be paid for using a credit card or Paypal.
                                            </div>
                                            <div class="dropdown-info__description-item">
                                              If you will be purchasing more than $10,000 worth of products from PosterHaus and need to make special payment arrangements, please contact us using the following form: <a>Trade/Vendor</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-info  ">
                                    <button class="dropdown-info__btn faq-page__drop-down-btn dropdown-info__btn--state_inactive click-outside-handler">
                                        <div class="dropdown-info__btn-content click-outside-handler">
                                            <div class="dropdown-info__btn-title click-outside-handler">
                                              What happens if my order is damaged during shipment?
                                            </div>
                                        </div>
                                        <div class="click-outside-handler">
                                            +
                                        </div>
                                    </button>
                                    <div class="dropdown-info__content dropdown-info__content--state_invisible">
                                        <div class="dropdown-info__description">
                                            <div class="dropdown-info__description-item">
                                              We replace it! We do our absolute best to package your order so that it arrives in perfect condition. Unfortunately, we can't control the delivery drivers who will be handling the order along the way.
                                            </div>
                                            <div class="dropdown-info__description-item">
                                              If your order arrives damaged, simply tale a few photos and contact us using the form on the <a href='#'>Returns</a> page, and we'll get a replacement order into production. Don't worry — damage rarely occurs. We wouldn't be in business for very long if it did!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-info  ">
                                    <button class="dropdown-info__btn faq-page__drop-down-btn dropdown-info__btn--state_inactive click-outside-handler">
                                        <div class="dropdown-info__btn-content click-outside-handler">
                                            <div class="dropdown-info__btn-title click-outside-handler">
                                              To frame or not to frame?
                                            </div>
                                        </div>
                                        <div class="click-outside-handler">
                                            +
                                        </div>
                                    </button>
                                    <div class="dropdown-info__content dropdown-info__content--state_invisible">
                                        <div class="dropdown-info__description">
                                            <div class="dropdown-info__description-item">
                                              To reduce the cost of your delivery fee, we recommend the shipment of our items in an unframed state. We securely package our art to guarantee that they will arrive in pristine condition. And of course, we also provide ‘framed under glass’ options and would be thrilled to take care of the framing on our end.
                                            </div>
                                            <div class="dropdown-info__description-item">
                                              Please note — prints are delicate works on paper that can be susceptible to light damage. For that reason, we always recommend that you frame photographs purchased under the best UV-protective covering that your budget allows.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-info  ">
                                    <button class="dropdown-info__btn faq-page__drop-down-btn dropdown-info__btn--state_inactive click-outside-handler">
                                        <div class="dropdown-info__btn-content click-outside-handler">
                                            <div class="dropdown-info__btn-title click-outside-handler">
                                              When I'm configuring my order, what's the difference between the ‘image size’ and the ‘overall size’?
                                            </div>
                                        </div>
                                        <div class="click-outside-handler">
                                            +
                                        </div>
                                    </button>
                                    <div class="dropdown-info__content dropdown-info__content--state_invisible">
                                        <div class="dropdown-info__description">
                                            <div class="dropdown-info__description-item">
                                              The image size is the actual size of the image. If it says 8" x 10", for example, then the image will actually be printed to be 8" x 10". The overall size includes any extra material that surrounds the image (e.g. mats, frames, white border, etc.)
                                            </div>
                                            <div class="dropdown-info__description-item">
                                              If you order a print without a mat or frame, for example, we automatically apply a white border around all four sides. Paper prints get a 1" white border, unless otherwise specified. The added border makes it easier for you to mat, frame, and/or stretch your print on your own.
                                            </div>
                                            <div class="dropdown-info__description-item">
                                              If you order an 8" x 10" paper print without a mat or frame, the image size is going to be 8" x 10", and the overall size is going to be 10" x 12".
                                            </div>
                                            <div class="dropdown-info__description-item">
                                              If you order a print with a mat or frame, then the overall size will be equal to the image size + the width of the mat (x2) + the width of the frame (x2) — a slight overlap where the mat overlays the print.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-info  ">
                                    <button class="dropdown-info__btn faq-page__drop-down-btn dropdown-info__btn--state_inactive click-outside-handler">
                                        <div class="dropdown-info__btn-content click-outside-handler">
                                            <div class="dropdown-info__btn-title click-outside-handler">
                                              Can I hang my prints in a bathroom?
                                            </div>
                                        </div>
                                        <div class="click-outside-handler">
                                            +
                                        </div>
                                    </button>
                                    <div class="dropdown-info__content dropdown-info__content--state_invisible">
                                        <div class="dropdown-info__description">
                                            <div class="dropdown-info__description-item">
                                              It depends. Framed prints will work fine in a bathroom. Just make sure that you're not exposing them to prolonged periods of high moisture from long, hot showers. Unframed prints may distort and/or discolour when exposed to high levels of humidity and moisture.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown-info  ">
                                    <button class="dropdown-info__btn faq-page__drop-down-btn dropdown-info__btn--state_inactive click-outside-handler">
                                        <div class="dropdown-info__btn-content click-outside-handler">
                                            <div class="dropdown-info__btn-title click-outside-handler">
                                              Can I hang my prints outside?
                                            </div>
                                        </div>
                                        <div class="click-outside-handler">
                                            +
                                        </div>
                                    </button>
                                    <div class="dropdown-info__content dropdown-info__content--state_invisible">
                                        <div class="dropdown-info__description">
                                            <div class="dropdown-info__description-item">
                                              Unfortunately you cannot hang your prints outside.
                                            </div>
                                        </div>
                                    </div>
                                </div>









          </div>




        </div>


    </div>
  </section>
  <footer class="footer">
    <div class="wrapper">
      <div class="footer__container">
        <div class="footer__content">
          <ul class="footer__column info">
            <li class="info__item footer__list-item">
              <a href="./about.html">About us</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="./contact.html">Contact</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="./faq.html">FAQs</a>
            </li>
          </ul>
          <a href="./index.html">
            <div class="logo--small_transparent_beige-frame"></div>
          </a>
          <ul class="footer__column media">
            <li class="media__item footer__list-item">
              <a href="#">
                Instagram
              </a>
            </li>
            <li class="footer__list-item">
              <a href="#">
                Facebook
              </a>
            </li>
            <li class="footer__list-item">
              <a href="#">
                Twitter
              </a>
            </li>
          </ul>
        </div>
        <div class="copyright">
          <div class="copyright__logo">
            <a href="./index.html">
              <div class="logo--small_transparent_beige-frame"></div>
            </a>
          </div>
          <div class="copyright__description">© All rights reserved.</div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>