<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log in</title>
</head>
<body>
  <section class="product-page__header">
    <div class="wrapper">
      <header class="header">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="./artworks.html">Artwork</a>
            </li>
            <li class="nav__item">
              <a href="./artists.html">Artists</a>
            </li>
          </ul>
        </nav>

        <a href="./index.html">
          <div class="logo logo--big_transparent_beige-frame"></div>
        </a>


        <div class="actions">
          <ul class="actions__list">

            <li id="open-wish-list-side-panel" class="actions__item like">
              <a href="./wishlist.html">
                <img src="./assets/icons/heart_black.svg" alt="like" />
              </a>
            </li>



            <li class="actions__item login">
              <a href="./login.html" class="login__link">Log in</a>
            </li>


            <li class="actions__item currency">
              <select class="currency__select" name="currency-select" id="currency-select">
                <option class="currency__option" value="USD">USD</option>
                <option class="currency__option" value="INR">INR</option>
                <option class="currency__option" value="GBP">GBP</option>
                <option class="currency__option" value="CAD">CAD</option>
                <option class="currency__option" value="AUD">AUD</option>
                <option class="currency__option" value="EUR">EUR</option>
                <option class="currency__option" value="JPY">JPY</option>
              </select>
            </li>



            <li class="actions__item cart">
              <div class="cart__container">
                <a href="./cart.html" class="cart__link">Cart</a>
                <div class="cart__counter">0</div>
              </div>
            </li>
          </ul>
        </div>
      </header>
    </div>
    <br>
  </section>
  <hr class="line">
  <section class="main">
    <div class="wrapper">


      <div class="authorisation">

        <div class="address-bar">
          <div class="address-bar__container">
            <a href="./index.html" class="address-bar__item">Home</a>
            &nbsp;/&nbsp;
            <a href="./" class="address-bar__item">Log in</a>
          </div>
        </div>



        <section class="authorisation__container">

          <!-- ToDo show for "Please, enter a new password below." page render -->

          <!-- <div class="authorisation__description authorisation__enter-new-password">
            Please, enter a new password below.
          </div> -->

          <!-- ToDo show for "Forgot your password?" page render -->
          <!-- <div class="authorisation__header">
            Forgot your password?
          </div>
          <div class="authorisation__description authorisation__enter-new-email">
            Please, enter your e-mail address. You will receive the link to create a new password via email.
          </div> -->

          <!-- ToDo show for initial page render -->
          <div class="authorisation-tabs">
            <div class="authorisation-tabs__item authorisation-tabs__item--state_active">
                <h3 class="authorisation-tabs__label">
                    Log in
                </h3>
            </div>
            <div class="authorisation-tabs__item authorisation-tabs__item--state_inactive">
                <h3 class="authorisation-tabs__label">
                    Create an account
                </h3>
            </div>
          </div>


          <div class="authorisation__login-container">

            <!-- ToDo show for initial page render -->
            <div class="authorisation-form">
                <div class="authorisation-field">
                    <div class="authorisation-field__label">E-mail address*</div>
                    <input type="text" class="authorisation-field__input"></input>
                </div>
                <div class="authorisation-field">
                    <div class="authorisation-field__label">Password*</div>
                    <input type="text" class="authorisation-field__input"></input>
                    <div class="authorisation-field__actions">

                        <label class="custom-checkbox">
                          <input type="checkbox" class="custom-checkbox__input" />
                          <span class="custom-checkbox__label">Remember me</span>
                        </label>

                        <span class="authorisation-field__action-button">Forgot your password?</span>
                    </div>
                </div>
            </div>
            <div class="authorisation__btn">
                <div class="authorisation__btn-container">
                  <button class="button_dark authorisation__btn">
                    <span>Log in</span>
                  </button>
                </div>
            </div>

            <!-- ToDo show for "Forgot your password?" page render -->
              <!-- <div class="authorisation-form">
                <div class="authorisation-field">
                    <div class="authorisation-field__label">E-mail address*</div>
                    <input type="text" class="authorisation-field__input"></input>
                </div>
              </div>

            <div class="authorisation__btn">
              <div class="authorisation__btn-container">
                <button class="button_dark authorisation__btn">
                  <span>Reset password</span>
                </button>
              </div>
            </div> -->

            <!-- ToDo show for "Please, enter a new password below." page render -->
              <!-- <div class="authorisation-form">
                <div class="authorisation-field">
                    <div class="authorisation-field__label">New password*</div>
                    <input type="text" class="authorisation-field__input"></input>
                </div>
                <div class="authorisation-field">
                    <div class="authorisation-field__label">Confirm new password*</div>
                    <input type="text" class="authorisation-field__input"></input>
                </div>
              </div>

            <div class="authorisation__btn">
              <div class="authorisation__btn-container">
                <button class="button_dark authorisation__btn">
                  <span>Save</span>
                </button>
              </div>
            </div> -->



          </div>



        </section>



        <!-- ToDo add "Reset e-mail modal" -->
        <!-- <div>
          <div class="status-modal status-modal--state-visible">
            <div id="paper-types-modal__close-btn" class="close-btn status-modal__close-btn"></div>
            <div class="status-modal__content">
              <div class="notification-icon notification-icon__success"></div>
              <div class="status-modal__title">Password reset e-mail has been sent</div>
              <div class="status-modal__description">
                A password reset email has been sent to the e-mail address on file for your account.
              </div>
            </div>
          </div>

          <div class="backdrop"></div>
          <div class="react" data-type="status-modal"></div>
        </div>
         -->

         <!-- ToDo add "New password modal" -->
        <!-- <div>
          <div class="status-modal status-modal--state-visible">
            <div id="paper-types-modal__close-btn" class="close-btn status-modal__close-btn"></div>
            <div class="status-modal__content">
              <div class="notification-icon notification-icon__success"></div>
              <div class="status-modal__title">New password confirmed successful</div>
              <div class="status-modal__description">
                You have successfully confirm your new password. Please, use your new password when logging in.
              </div>
            </div>
          </div>

          <div class="backdrop"></div>
          <div class="react" data-type="status-modal"></div>
        </div> -->


    </div>




    </div>
  </section>
  <footer class="footer">
    <div class="wrapper">
      <div class="footer__container">
        <div class="footer__content">
          <ul class="footer__column info">
            <li class="info__item footer__list-item">
              <a href="#">About us</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="#">Contacts</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="#">FAQs</a>
            </li>
          </ul>

          <a href="./index.html">
            <div class="logo--small_transparent_beige-frame"></div>
          </a>



          <ul class="footer__column media">
            <li class="media__item footer__list-item">
              <a href="#">
                Instagram
              </a>
            </li>
            <li class="footer__list-item">
              <a href="#">
                Facebook
              </a>
            </li>
            <li class="footer__list-item">
              <a href="#">
                Twitter
              </a>
            </li>
          </ul>
        </div>
        <div class="copyright">
          <div class="copyright__logo">
            <a href="./index.html">
              <div class="logo--small_transparent_beige-frame"></div>
            </a>
          </div>
          <div class="copyright__description">© All rights reserved.</div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>