<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./stylesheets/main.css" />
  <title>Document</title>
</head>
<body>
  <section class="selection artwork">
    <div class="wrapper">
      <div class="selection__container">
        <header class="header">
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__item">
                <a href="#">Artwork</a>
              </li>
              <li class="nav__item">
                <a href="#">Artists</a>
              </li>
            </ul>
          </nav>
          <div class="logo">
            <a href="#" class="logo__link">Logo</a>
          </div>
          <div class="actions">
            <ul class="actions__list">
              <li class="actions__item like">
                <img src="./heart_black.svg" alt="like">
              </li>
              <li class="actions__item login">
                <a href="#" class="login__link">Log in</a>
              </li>
              <li class="actions__item currency">
                <select name="currency" id="currency">
                  <option value="USD">USD</option>
                  <option value="INR">INR</option>
                  <option value="GBP">GBP</option>
                  <option value="CAD">CAD</option>
                  <option value="AUD">AUD</option>
                  <option value="EUR">EUR</option>
                  <option value="JPY">JPY</option>
                </select>
              </li>
              <li class="actions__item cart">
                <div class="cart__container">
                  <a href="#" class="cart__link">Cart</a>
                  <div class="cart__counter">0</div>
                </div>
              </li>
            </ul>
          </div>
        </header>
        <div class="selection__content">
          <h1 class="selection__title">
            Artwork
          </h1>
          <div class="selection__description">
            exclusive contemporary & classic fine-art photography
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="address-bar">
    <div class="wrapper">
      <div class="address-bar__container">
        Home / Artwork
      </div>
    </div>
  </section>
  <section class="main main_selection">
    <div class="wrapper">
      <div id="root" class="main__container">
    </div>
    </div>
  </section>
  <footer class="footer">
    <div class="wrapper">
      <div class="footer__container">
        <div class="footer__content">
          <ul class="footer__column info">
            <li class="info__item footer__list-item">
              <a href="#">About us</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="#">Contacts</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="#">FAQs</a>
            </li>
          </ul>
          <div class="footer__logo">
            <a href="#">Logo</a>
          </div>
          <ul class="footer__column media">
            <li class="media__item footer__list-item">
              <a href="#">
                Instagram
              </a>
            </li>
            <li class="footer__list-item">
              <a href="#">
                Facebook
              </a>
            </li>
            <li class="footer__list-item">
              <a href="#">
                Twitter
              </a>
            </li>
          </ul>
        </div>
        <div class="copyright">
          <div class="copyright__logo">Logo</div>
          <div class="copyright__description">© All rights reserved.</div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>