<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Shipping and payment</title>
</head>

<body>
  <section class="product-page__header">
    <div class="wrapper">
      <header class="header">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="./artworks.html">Artwork</a>
            </li>
            <li class="nav__item">
              <a href="./artists.html">Artists</a>
            </li>
          </ul>
        </nav>

        <a href="./index.html">
          <div class="logo logo--big_transparent_beige-frame"></div>
        </a>

        <div class="actions">
          <ul class="actions__list">
            <li id="open-wish-list-side-panel" class="actions__item like">
              <img src="./assets/icons/heart_black.svg" alt="like" />
            </li>

            <li class="actions__item login">
              <a href="./login.html" class="login__link">Log in</a>
            </li>

            <li class="actions__item currency">
              <select class="currency__select" name="currency-select" id="currency-select">
                <option class="currency__option" value="USD">USD</option>
                <option class="currency__option" value="INR">INR</option>
                <option class="currency__option" value="GBP">GBP</option>
                <option class="currency__option" value="CAD">CAD</option>
                <option class="currency__option" value="AUD">AUD</option>
                <option class="currency__option" value="EUR">EUR</option>
                <option class="currency__option" value="JPY">JPY</option>
              </select>
            </li>

            <li class="actions__item cart">
              <div class="cart__container">
                <a href="./cart.html" class="cart__link">Cart</a>
                <div class="cart__counter">0</div>
              </div>
            </li>
          </ul>
        </div>
      </header>
    </div>
    <br />
  </section>
  <hr class="line" />
  <section class="main">
    <div class="wrapper">
      <div class="shipping-payment">
        <div class="address-bar">
          <div class="address-bar__container">
            <a href="./" class="address-bar__item">Home</a>
            &nbsp;/&nbsp;
            <a href="./cart.html" class="address-bar__item">Cart</a>
            &nbsp;/&nbsp;
            <a href="./cart.html" class="address-bar__item">Information</a>
            &nbsp;/&nbsp;
            <a href="./ship.html" class="address-bar__item">Shipping</a>
            &nbsp;/&nbsp;
            <a href="./ship.html" class="address-bar__item">Payment</a>
          </div>
        </div>

        <div class="shipping-payment__container">
          <div class="shipping-payment__left-column">
            <h3 class="shipping-payment__title">Contact information</h3>
            <div class="shipping-payment__input-list">
              <div class="input-field">
                <div class="input-field__label">First name*</div>
                <div class="input-field__inputs-set">
                  <input type="text" class="input-field__input" placeholder="" />
                </div>
              </div>
              <div class="input-field">
                <div class="input-field__label">Last name*</div>
                <div class="input-field__inputs-set">
                  <input type="text" class="input-field__input" placeholder="" />
                </div>
              </div>
              <div class="input-field">
                <div class="input-field__label">E-mail address*</div>
                <div class="input-field__inputs-set">
                  <input type="text" class="input-field__input" placeholder="" />
                </div>
              </div>

              <div class="dropdown-input-field" data-type="dropdown-input-field">
                <div class="dropdown-input-field__title">Phone number*</div>
                <div class="dropdown-input-field__container">
                  <button class="
                        dropdown-input-field__btn
                        dropdown-input-field__btn--state_inactive
                        phone-custom-input__dropdown-button
                      ">
                    <div class="
                          dropdown-input-field__btn-label
                          phone-custom-input__btn-selected
                        ">
                      <img src="./assets/icons/Canada.png" alt="option" />
                    </div>
                    <div class="dropdown-input-field__btn-icon arrow-bottom"></div>
                  </button>
                  <input type="text" class="
                        dropdown-input-field__content__input
                        input-field__input
                      " placeholder="(+1)" />
                  <div class="
                        dropdown-input-field__content
                        dropdown-input-field__content--state_invisible
                      ">
                    <div id="dialing-code-options" class="dropdown-input-field__options">
                      <div class="dropdown-input-field__option">
                        <div class="dropdown-input-field__label-to-replace">
                          <img src="./assets/icons/Canada.png" alt="flag" />
                        </div>
                        <div class="dropdown-input-field__option-label">
                          Canada
                        </div>
                        <div class="dialing-code">(+1)</div>
                      </div>
                      <div class="dropdown-input-field__option">
                        <div class="dropdown-input-field__label-to-replace">
                          <img src="" alt="flag" />
                        </div>
                        <div class="dropdown-input-field__option-label">
                          Belarus
                        </div>
                        <div class="dialing-code">(+2)</div>
                      </div>
                      <div class="dropdown-input-field__option">
                        <div class="dropdown-input-field__label-to-replace">
                          <img src="" alt="flag" />
                        </div>
                        <div class="dropdown-input-field__option-label">
                          Canada
                        </div>
                        <div class="dialing-code">(+3)</div>
                      </div>
                    </div>
                  </div>
                  <div class="backdrop backdrop--state_invisible"></div>
                </div>
              </div>
            </div>

            <h3 class="shipping-payment__title">Shipping address</h3>

            <div class="shipping-payment__input-list">



              <div class="dropdown-input-field">
                <div class="dropdown-input-field__title">
                  Country / Region*
                </div>

                <div class="dropdown-input-field__container">
                  <button class="
                        dropdown-input-field__btn
                        dropdown-input-field__btn--state_inactive
                      ">
                    <div class="dropdown-input-field__btn-label">
                      United States
                    </div>
                    <div class="dropdown-input-field__btn-icon arrow-bottom"></div>
                  </button>
                  <div class="dropdown-input-field__content dropdown-input-field__content--state_invisible">
                    <input type="text" class="dropdown-input-field__search-field" placeholder="Search">
                    <div class="dropdown-input-field__options">
                      <div class="dropdown-input-field__option dropdown-input-field__option--state_selected">
                        <div class="dropdown-input-field__option-label dropdown-input-field__label-to-replace">
                          Belarus
                        </div>
                      </div>
                      <div class="dropdown-input-field__option dropdown-input-field__option--state_selected">
                        <div class="dropdown-input-field__option-label dropdown-input-field__label-to-replace">
                          Poland
                        </div>
                      </div>
                      <div class="
                            dropdown-input-field__option
                            dropdown-input-field__option--state_selected
                          ">
                        <div class="
                              dropdown-input-field__option-label
                              dropdown-input-field__label-to-replace
                            ">
                          Poland
                        </div>
                      </div>
                      <div class="
                            dropdown-input-field__option
                            dropdown-input-field__option--state_selected
                          ">
                        <div class="
                              dropdown-input-field__option-label
                              dropdown-input-field__label-to-replace
                            ">
                          Poland
                        </div>
                      </div>
                      <div class="
                            dropdown-input-field__option
                            dropdown-input-field__option--state_selected
                          ">
                        <div class="
                              dropdown-input-field__option-label
                              dropdown-input-field__label-to-replace
                            ">
                          Poland
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="backdrop backdrop--state_invisible"></div>
                </div>
              </div>




              <div class="dropdown-input-field">
                <div class="dropdown-input-field__title">State*</div>

                <div class="dropdown-input-field__container">
                  <button class="
                        dropdown-input-field__btn
                        dropdown-input-field__btn--state_inactive
                      ">
                    <div class="dropdown-input-field__btn-label">
                      United States
                    </div>
                    <div class="dropdown-input-field__btn-icon arrow-bottom"></div>
                  </button>
                  <div class="
                        dropdown-input-field__content
                        dropdown-input-field__content--state_invisible
                      ">
                    <input type="text" class="dropdown-input-field__search-field" placeholder="Search" />
                    <div class="dropdown-input-field__options">
                      <div class="
                            dropdown-input-field__option
                            dropdown-input-field__option--state_selected
                          ">
                        <div class="
                              dropdown-input-field__option-label
                              dropdown-input-field__label-to-replace
                            ">
                          Belarus
                        </div>
                      </div>
                      <div class="
                            dropdown-input-field__option
                            dropdown-input-field__option--state_selected
                          ">
                        <div class="
                              dropdown-input-field__option-label
                              dropdown-input-field__label-to-replace
                            ">
                          Poland
                        </div>
                      </div>
                      <div class="
                            dropdown-input-field__option
                            dropdown-input-field__option--state_selected
                          ">
                        <div class="
                              dropdown-input-field__option-label
                              dropdown-input-field__label-to-replace
                            ">
                          Poland
                        </div>
                      </div>
                      <div class="
                            dropdown-input-field__option
                            dropdown-input-field__option--state_selected
                          ">
                        <div class="
                              dropdown-input-field__option-label
                              dropdown-input-field__label-to-replace
                            ">
                          Poland
                        </div>
                      </div>
                      <div class="
                            dropdown-input-field__option
                            dropdown-input-field__option--state_selected
                          ">
                        <div class="
                              dropdown-input-field__option-label
                              dropdown-input-field__label-to-replace
                            ">
                          Poland
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="backdrop backdrop--state_invisible"></div>
                </div>
              </div>





              <div class="input-field">
                <div class="input-field__label">Town / City*</div>
                <div class="input-field__inputs-set">
                  <input type="text" class="input-field__input" placeholder="" />
                </div>
              </div>

              <div class="input-field">
                <div class="input-field__label">Postal / ZIP code*</div>
                <div class="input-field__inputs-set">
                  <input type="text" class="input-field__input" placeholder="" />
                </div>
              </div>


              <div class="input-field">
                <div class="input-field__label">Street address*</div>
                <div class="input-field__inputs-set">
                  <input type="text" class="input-field__input" placeholder="House number and street name" />
                  <input type="text" class="input-field__input"
                    placeholder="Appartment, suite, unit, etc. (optional)" />
                </div>
              </div>
            </div>

            <div class="input-field">
              <div class="input-field__label">Order notes (optional)</div>
              <div class="input-field__inputs-set">
                <textarea class="input-field__input textarea"
                  placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
              </div>
            </div>
          </div>
          <div class="shipping-payment__right-column">
            <h3 class="shipping-payment__title">Your order</h3>

            <div class="shipping-payment__order-cards">
              <div class="order-card">
                <div class="order-card__image-container">
                  <div class="order-card__count">1</div>
                  <img class="order-card__image" src="./assets/images/order-card-mock.jpg" alt="order-card" />
                </div>

                <div class="order-card__description">
                  <div class="order-card__product-name">
                    "Buy", Long Island University
                  </div>
                  <div class="order-card__author">André Kertész</div>
                </div>

                <div class="order-card__price">$ 100.00</div>
              </div>
              <div class="order-card">
                <div class="order-card__image-container">
                  <div class="order-card__count">1</div>
                  <img class="order-card__image" src="./assets/images/order-card-mock.jpg" alt="order-card" />
                </div>

                <div class="order-card__description">
                  <div class="order-card__product-name">
                    "Buy", Long Island University
                  </div>
                  <div class="order-card__author">André Kertész</div>
                </div>

                <div class="order-card__price">$ 100.00</div>
              </div>
              <div class="order-card">
                <div class="order-card__image-container">
                  <div class="order-card__count">1</div>
                  <img class="order-card__image" src="./assets/images/order-card-mock.jpg" alt="order-card" />
                </div>

                <div class="order-card__description">
                  <div class="order-card__product-name">
                    "Buy", Long Island University
                  </div>
                  <div class="order-card__author">André Kertész</div>
                </div>

                <div class="order-card__price">$ 100.00</div>
              </div>
            </div>

            <div class="shipping-payment__order-info">
              <div class="shipping-payment__estimate">
                <div class="shipping-payment__estimate-item">
                  <div>Subtotal</div>
                  <div>$ 300.00</div>
                </div>
                <div class="shipping-payment__estimate-item">
                  <div>Shipping</div>
                  <div>$ 10.00</div>
                </div>
              </div>
            </div>
            <div class="shipping-payment__order-info">
              <div class="shipping-payment__total">
                <div>Total</div>
                <div>$ 310.00</div>
              </div>
            </div>

            <div class="shipping-payment__order-info">
              <div class="shipping-payment__payment-methods-container">
                <div class="shipping-payment__payment-method-btn">
                  <img src="./assets/icons/apple-pay.png" alt="apple-pay" />
                </div>
                <div class="shipping-payment__payment-method-btn">
                  <img src="./assets/icons/google-pay.png" alt="google-pay" />
                </div>
                <div class="shipping-payment__payment-method-btn">
                  <img src="./assets/icons/paypal.png" alt="paypal" />
                </div>
              </div>
            </div>

            <div class="shipping-payment__action-btn-container">
              <button class="button_dark">
                <span>Place order</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="wrapper">
      <div class="footer__container">
        <div class="footer__content">
          <ul class="footer__column info">
            <li class="info__item footer__list-item">
              <a href="./about.html">About us</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="./contact.html">Contact</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="./faq.html">FAQs</a>
            </li>
          </ul>
          <a href="./index.html">
            <div class="logo--small_transparent_beige-frame"></div>
          </a>
          <ul class="footer__column media">
            <li class="media__item footer__list-item">
              <a href="#"> Instagram </a>
            </li>
            <li class="footer__list-item">
              <a href="#"> Facebook </a>
            </li>
            <li class="footer__list-item">
              <a href="#"> Twitter </a>
            </li>
          </ul>
        </div>
        <div class="copyright">
          <div class="copyright__logo">
            <a href="./index.html">
              <div class="logo--small_transparent_beige-frame"></div>
            </a>
          </div>
          <div class="copyright__description">© All rights reserved.</div>
        </div>
      </div>
    </div>
  </footer>

  <div id="wish-list-side-panel" class="wish-list-side-panel wish-list-side-panel--state_invisible">
    <div class="wish-list-side-panel__close-container">
      <button id="wish-list-side-panel__close-btn" class="wish-list-side-panel__close-btn">
        Close
      </button>
    </div>

    <div class="wish-list-side-panel__content">
      <section class="wish-list-side-panel__cadslist">
        <div class="wish-list-side-panel-card">
          <div class="wish-list-side-panel-card__container">
            <div class="wish-list-side-panel-card__image">
              <img src="./assets/images/Product-to-sell-mock.png" alt="product" />
            </div>
            <div class="wish-list-side-panel-card__content">
              <div class="wish-list-side-panel-card__name-container">
                <div class="wish-list-side-panel-card__name">
                  "Buy", Long Island University
                </div>
                <button class="close-btn"></button>
              </div>
              <div class="wish-list-side-panel-card__info">
                <div class="wish-list-side-panel-card__info-keys">
                  <span class="wish-list-side-panel-card__info-keys-item">Paper:</span>
                  <span class="wish-list-side-panel-card__info-keys-item">Matte:</span>
                  <span class="wish-list-side-panel-card__info-keys-item">Size:</span>
                  <span class="wish-list-side-panel-card__info-keys-item">Frame:</span>
                </div>
                <div class="wish-list-side-panel-card__info-values">
                  <span class="wish-list-side-panel-card__info-values-item">LexJet Sunset Photo eSatin — 300 gsm LexJet
                    Sunset Photo
                    eSatin — 300 gsm</span>
                  <span class="wish-list-side-panel-card__info-values-item">1”
                  </span>
                  <span class="wish-list-side-panel-card__info-values-item">8 x 10</span>
                  <span class="wish-list-side-panel-card__info-values-item">Classic Black</span>
                </div>
              </div>
              <div class="wish-list-side-panel-card__price-container">
                <div class="wish-list-side-panel-card__counter-btn">
                  <div class="wish-list-side-panel-card__counter-btn-action">
                    -
                  </div>
                  <div class="wish-list-side-panel-card__count">
                    <span>1</span>
                  </div>
                  <div class="wish-list-side-panel-card__counter-btn-action">
                    +
                  </div>
                </div>
                <div class="wish-list-side-panel-card__price">$ 100.00</div>
              </div>
            </div>
          </div>
        </div>

        <div class="wish-list-side-panel-card">
          <div class="wish-list-side-panel-card__container">
            <div class="wish-list-side-panel-card__image">
              <img src="./assets/images/Product-to-sell-mock.png" alt="product" />
            </div>
            <div class="wish-list-side-panel-card__content">
              <div class="wish-list-side-panel-card__name-container">
                <div class="wish-list-side-panel-card__name">
                  "Buy", Long Island University
                </div>
                <button class="close-btn"></button>
              </div>
              <div class="wish-list-side-panel-card__info">
                <div class="wish-list-side-panel-card__info-keys">
                  <span class="wish-list-side-panel-card__info-keys-item">Paper:</span>
                  <span class="wish-list-side-panel-card__info-keys-item">Matte:</span>
                  <span class="wish-list-side-panel-card__info-keys-item">Size:</span>
                  <span class="wish-list-side-panel-card__info-keys-item">Frame:</span>
                </div>
                <div class="wish-list-side-panel-card__info-values">
                  <span class="wish-list-side-panel-card__info-values-item">LexJet Sunset Photo eSatin — 300 gsm LexJet
                    Sunset Photo
                    eSatin — 300 gsm</span>
                  <span class="wish-list-side-panel-card__info-values-item">1”
                  </span>
                  <span class="wish-list-side-panel-card__info-values-item">8 x 10</span>
                  <span class="wish-list-side-panel-card__info-values-item">Classic Black</span>
                </div>
              </div>
              <div class="wish-list-side-panel-card__price-container">
                <div class="wish-list-side-panel-card__counter-btn">
                  <div class="wish-list-side-panel-card__counter-btn-action">
                    -
                  </div>
                  <div class="wish-list-side-panel-card__count">
                    <span>1</span>
                  </div>
                  <div class="wish-list-side-panel-card__counter-btn-action">
                    +
                  </div>
                </div>
                <div class="wish-list-side-panel-card__price">$ 100.00</div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="wish-list-side-panel__subtotal">
        <div class="wish-list-side-panel__subtotal-item">Subtotal</div>
        <div class="wish-list-side-panel__subtotal-item">300.00 EUR</div>
      </div>

      <div class="wish-list-side-panel__action-btns">
        <button id="wish-list-side-panel__continue-shopping-btn" class="
              wish-list-side-panel__transparent-btn
              wish-list-side-panel__action-btn
            ">
          <span>Continue shopping</span>
        </button>
        <a href="./wishlist.html">
          <button class="wish-list-side-panel__dark-btn wish-list-side-panel__action-btn">
            <span>Go to cart</span>
          </button>
        </a>
      </div>
    </div>
  </div>

  <div id="wish-list-side-panel__backdrop" class="backdrop backdrop--state_invisible" />

  <div class="react" data-type="dropdown-input-field" />
  <div class="react" data-type="phone-custom-input" />
  <div class="react" data-type="wish-list-side-panel" />
</body>

</html>