<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shipping and payment</title>
</head>
<body>
  <section class="product-page__header">
    <div class="wrapper">
      <header class="header">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="./artworks.html">Artwork</a>
            </li>
            <li class="nav__item">
              <a href="./artists.html">Artists</a>
            </li>
          </ul>
        </nav>
        <div class="logo">
          <a href="./index.html" class="logo__link">Logo</a>
        </div>
        <div class="actions">
          <ul class="actions__list">
            <li class="actions__item like">
              <a href="./wishlist.html" class="login__link">
                <img src="./assets/icons/heart_black.svg" alt="like">
              </a>

            </li>
            <li class="actions__item login">
              <a href="./login.html" class="login__link">Log in</a>
            </li>


            <li class="actions__item currency">
              <select class="currency__select" name="currency-select" id="currency-select">
                <option class="currency__option" value="USD">USD</option>
                <option class="currency__option" value="INR">INR</option>
                <option class="currency__option" value="GBP">GBP</option>
                <option class="currency__option" value="CAD">CAD</option>
                <option class="currency__option" value="AUD">AUD</option>
                <option class="currency__option" value="EUR">EUR</option>
                <option class="currency__option" value="JPY">JPY</option>
              </select>
            </li>



            <li class="actions__item cart">
              <div class="cart__container">
                <a href="./cart.html" class="cart__link">Cart</a>
                <div class="cart__counter">0</div>
              </div>
            </li>
          </ul>
        </div>
      </header>
    </div>
    <br>
  </section>
  <hr class="line">
  <section class="main">
    <div class="wrapper">
      <div class="react" data-type="ship"></div>
    </div>
    </div>
  </section>
  <footer class="footer">
    <div class="wrapper">
      <div class="footer__container">
        <div class="footer__content">
          <ul class="footer__column info">
            <li class="info__item footer__list-item">
              <a href="#">About us</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="#">Contacts</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="#">FAQs</a>
            </li>
          </ul>
          <div class="footer__logo">
            <a href="#">Logo</a>
          </div>
          <ul class="footer__column media">
            <li class="media__item footer__list-item">
              <a href="#">
                Instagram
              </a>
            </li>
            <li class="footer__list-item">
              <a href="#">
                Facebook
              </a>
            </li>
            <li class="footer__list-item">
              <a href="#">
                Twitter
              </a>
            </li>
          </ul>
        </div>
        <div class="copyright">
          <div class="copyright__logo">Logo</div>
          <div class="copyright__description">© All rights reserved.</div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>