<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sales</title>
</head>

<body>
  <section class="super-admin">
    <div class="wrapper">
      <header class="super-admin__header">

        <a href="./index.html">
          <div class="logo logo--big_transparent_beige-frame"></div>
        </a>

      </header>
    </div>
    <br />
  </section>
  <hr class="line" />
  <section class="main">
    <div class="wrapper">

      <div class="super-admin-orders">
        <div class="super-admin__layout">
          <div class="admin-pages-list">
            <div class="admin-pages-list__item admin-pages-list__item--state_inactive">Dashboard</div>
            <div class="admin-pages-list__item admin-pages-list__item--state_inactive">Pages</div>
            <div class="admin-pages-list__item admin-pages-list__item--state_inactive">Sales</div>
            <div class="admin-pages-list__item admin-pages-list__item--state_active">Orders</div>
            <div class="admin-pages-list__item admin-pages-list__item--state_inactive">Log out</div>
          </div>
          <div class="super-admin__content">
            <div class="super-admin__title">Orders</div>


            <div class="super-admin-sales__manage-panel super-admin-orders__manage-panel">

              <div class="super-admin-period">
                <div class="super-admin-period__item super-admin-period__item--state_active">All time</div>
                <div class="super-admin-period__item super-admin-period__item--state_inactive">Today</div>
                <div class="super-admin-period__item super-admin-period__item--state_inactive">Week</div>
                <div class="super-admin-period__item super-admin-period__item--state_inactive">Month</div>
                <div class="super-admin-period__item super-admin-period__item--state_inactive">Quarter</div>
                <div class="super-admin-period__item super-admin-period__item--state_inactive">Year</div>
              </div>

            </div>

            <div class="super-admin-pages-artwork__manage-panel">
              <div class="manage-panel__buttons-bar">
                <div class="manage-panel__filters" id="manage-panel__tabs">
                </div>
                <div class="manage-panel__filters">
                  <div id="manage-panel__filter-btn" class="manage-panel__filter-item">Filter</div>
                  <div id="manage-panel__search-btn" class="manage-panel__filter-item manage-panel__search-btn">Search</div>
                </div>
              </div>
              <div class="manage-panel__search-bar">
                <textarea id="manage-panel__search-field"
                  class="manage-panel__search-field manage-panel__search-field--state_invisible"
                  placeholder="Search"></textarea>
              </div>
            </div>

            <div>
              <div id="side-panel" class="side-panel side-panel--state_invisible">
                <form action="" class="filters-list">

                  <div class="filter">
                    <div class="filter__title">Filter Title</div>

                    <input type="text" class="filter__search-field" placeholder="Search"/>

                    <div class="filter__content">
                      <label class="filter__label custom-checkbox">
                        <input type="checkbox" class="filter__checkbox custom-checkbox__input"/>
                        <span class="custom-checkbox__label">CheckBox label</span>
                      </label>
                      <label class="filter__label custom-checkbox">
                        <input type="checkbox" class="filter__checkbox custom-checkbox__input"/>
                        <span class="custom-checkbox__label">CheckBox label</span>
                      </label>
                      <label class="filter__label custom-checkbox">
                        <input type="checkbox" class="filter__checkbox custom-checkbox__input"/>
                        <span class="custom-checkbox__label">CheckBox label</span>
                      </label>
                    </div>
                  </div>

                  <hr class="filter__delimiter" />

                  <div class="filter">
                    <div class="filter__title">Filter Title</div>

                    <input
                      type="text"
                      class="filter__search-field"
                      placeholder="Search"
                    />

                    <div class="filter__content">
                      <label class="filter__label custom-checkbox">
                        <input
                          type="checkbox"
                          class="filter__checkbox custom-checkbox__input"
                        />
                        <span class="custom-checkbox__label">
                          CheckBox label</span
                        >
                      </label>
                      <label class="filter__label custom-checkbox">
                        <input
                          type="checkbox"
                          class="filter__checkbox custom-checkbox__input"
                        />
                        <span class="custom-checkbox__label">
                          CheckBox label
                        </span>
                      </label>
                      <label class="filter__label custom-checkbox">
                        <input
                          type="checkbox"
                          class="filter__checkbox custom-checkbox__input"
                        />
                          <span class="custom-checkbox__label">
                            CheckBox label
                          </span>
                      </label>
                    </div>

                    <div class="filter__tag-box">
                      <div class="tag tag--grey">
                        <div class="tag__content">Interior</div>
                      </div>
                      <div class="tag tag--grey">
                        <div class="tag__content">Interior</div>
                      </div>
                      <div class="tag tag--grey">
                        <div class="tag__content">Interior</div>
                      </div>
                    </div>
                  </div>

                </form>
              </div>

              <div id="side-panel__backdrop" class="backdrop backdrop--grey backdrop--state_invisible"></div>
            </div>


            <table class="super-admin-orders-table">
              <tr class="super-admin-orders-table__head">
                <th class="super-admin-orders-table__head-cell super-admin-orders-table__column-number">№</th>
                <th class="super-admin-orders-table__head-cell super-admin-orders-table__column-data">Data</th>
                <th class="super-admin-orders-table__head-cell super-admin-orders-table__column-name">Name</th>
                <th class="super-admin-orders-table__head-cell super-admin-orders-table__column-total">Total</th>
                <th class="super-admin-orders-table__head-cell super-admin-orders-table__column-payment">Payment</th>
                <th class="super-admin-orders-table__head-cell super-admin-orders-table__column-status">Status</th>
                <th class="super-admin-orders-table__head-cell super-admin-orders-table__column-details"></th>
              </tr>
              <tr class="super-admin-orders-table__row">
                <td class="super-admin-orders-table__row-cell">1</td>
                <td class="super-admin-orders-table__row-cell">14.06.2021</td>
                <td class="super-admin-orders-table__row-cell">Name Surname</td>
                <td class="super-admin-orders-table__row-cell">$ 100</td>
                <td class="super-admin-orders-table__row-cell">

                  <div class="tag-dropdown-menu">
                    <button class="tag-dropdown-menu__btn">
                      <div class="tag tag--transparent">
                        <span class="tag__content">Paid</span>
                        <div class="tag__arrow tag__arrow--grey"></div>
                      </div>
                    </button>
                    <div class="tag-dropdown-menu__content tag-dropdown-menu__content--state_invisible">
                        <span class="tag-dropdown-menu__item tag-dropdown-menu__item--state_selected" >
                            Paid
                        </span>
                        <span class="tag-dropdown-menu__item" >
                            Unpaid
                        </span>
                    </div>
                    <div class="backdrop backdrop--transparent backdrop--state_invisible"></div>
                  </div>





                </td>
                <td class="super-admin-orders-table__row-cell">

                  <div class="tag-dropdown-menu">
                    <button class="tag-dropdown-menu__btn">
                      <div class="tag tag--green">
                        <span class="tag__content">New</span>
                        <div class="tag__arrow tag__arrow--green"></div>
                      </div>
                    </button>
                    <div class="tag-dropdown-menu__content tag-dropdown-menu__content--state_invisible">
                        <span class="tag-dropdown-menu__item tag-dropdown-menu__item--state_selected" >
                          Finished
                        </span>
                        <span class="tag-dropdown-menu__item" >
                          New
                        </span>
                        <span class="tag-dropdown-menu__item" >
                          Returned
                        </span>
                        <span class="tag-dropdown-menu__item" >
                          Cancelled
                        </span>
                    </div>
                    <div class="backdrop backdrop--transparent backdrop--state_invisible"></div>
                  </div>

                </td>
                <td class="super-admin-orders-table__row-cell">
                  <button class="sold-products-card__details-btn super-admin-orders-table__details-btn">Details</button>
                </td>
              </tr>
              <tr class="super-admin-orders-table__row">
                <td class="super-admin-orders-table__row-cell">1</td>
                <td class="super-admin-orders-table__row-cell">14.06.2021</td>
                <td class="super-admin-orders-table__row-cell">Name Surname</td>
                <td class="super-admin-orders-table__row-cell">$ 100</td>
                <td class="super-admin-orders-table__row-cell">


                  <div class="tag-dropdown-menu">
                    <button class="tag-dropdown-menu__btn">
                      <div class="tag tag--transparent">
                        <span class="tag__content">Paid</span>
                        <div class="tag__arrow tag__arrow--grey"></div>
                      </div>
                    </button>
                    <div class="tag-dropdown-menu__content tag-dropdown-menu__content--state_invisible">
                        <span class="tag-dropdown-menu__item tag-dropdown-menu__item--state_selected" >
                            Paid
                        </span>
                        <span class="tag-dropdown-menu__item" >
                            Unpaid
                        </span>
                    </div>
                    <div class="backdrop backdrop--transparent backdrop--state_invisible"></div>
                </div>



                </td>
                <td class="super-admin-orders-table__row-cell">


                  <div class="tag-dropdown-menu">
                    <button class="tag-dropdown-menu__btn">
                      <div class="tag tag--blue">
                        <span class="tag__content">Finished</span>
                        <div class="tag__arrow tag__arrow--blue"></div>
                      </div>
                    </button>
                    <div class="tag-dropdown-menu__content tag-dropdown-menu__content--state_invisible">
                        <span class="tag-dropdown-menu__item tag-dropdown-menu__item--state_selected" >
                          Finished
                        </span>
                        <span class="tag-dropdown-menu__item" >
                          New
                        </span>
                        <span class="tag-dropdown-menu__item" >
                          Returned
                        </span>
                        <span class="tag-dropdown-menu__item" >
                          Cancelled
                        </span>
                    </div>
                    <div class="backdrop backdrop--transparent backdrop--state_invisible"></div>
                  </div>




                </td>
                <td class="super-admin-orders-table__row-cell">
                  <button class="sold-products-card__details-btn super-admin-orders-table__details-btn">Details</button>
                </td>
              </tr>
              <tr class="super-admin-orders-table__row">
                <td class="super-admin-orders-table__row-cell">1</td>
                <td class="super-admin-orders-table__row-cell">14.06.2021</td>
                <td class="super-admin-orders-table__row-cell">Name Surname</td>
                <td class="super-admin-orders-table__row-cell">$ 100</td>
                <td class="super-admin-orders-table__row-cell">

                  <div class="tag-dropdown-menu">
                    <button class="tag-dropdown-menu__btn">
                      <div class="tag tag--transparent">
                        <span class="tag__content">Paid</span>
                        <div class="tag__arrow tag__arrow--grey"></div>
                      </div>
                    </button>
                    <div class="tag-dropdown-menu__content tag-dropdown-menu__content--state_invisible">
                        <span class="tag-dropdown-menu__item tag-dropdown-menu__item--state_selected" >
                            Paid
                        </span>
                        <span class="tag-dropdown-menu__item" >
                            Unpaid
                        </span>
                    </div>
                    <div class="backdrop backdrop--transparent backdrop--state_invisible"></div>
                </div>




                </td>
                <td class="super-admin-orders-table__row-cell">



                  <div class="tag-dropdown-menu">
                    <button class="tag-dropdown-menu__btn">
                      <div class="tag tag--yellow">
                        <span class="tag__content">Returned</span>
                        <div class="tag__arrow tag__arrow--yellow"></div>
                      </div>
                    </button>
                    <div class="tag-dropdown-menu__content tag-dropdown-menu__content--state_invisible">
                        <span class="tag-dropdown-menu__item tag-dropdown-menu__item--state_selected" >
                          Finished
                        </span>
                        <span class="tag-dropdown-menu__item" >
                          New
                        </span>
                        <span class="tag-dropdown-menu__item" >
                          Returned
                        </span>
                        <span class="tag-dropdown-menu__item" >
                          Cancelled
                        </span>
                    </div>
                    <div class="backdrop backdrop--transparent backdrop--state_invisible"></div>
                  </div>



                </td>
                <td class="super-admin-orders-table__row-cell">
                  <button class="sold-products-card__details-btn super-admin-orders-table__details-btn">Details</button>
                </td>
              </tr>
              <tr class="super-admin-orders-table__row">
                <td class="super-admin-orders-table__row-cell">1</td>
                <td class="super-admin-orders-table__row-cell">14.06.2021</td>
                <td class="super-admin-orders-table__row-cell">Name Surname</td>
                <td class="super-admin-orders-table__row-cell">$ 100</td>
                <td class="super-admin-orders-table__row-cell">


                  <div class="tag-dropdown-menu">
                    <button class="tag-dropdown-menu__btn">
                      <div class="tag tag--transparent">
                        <span class="tag__content">Paid</span>
                        <div class="tag__arrow tag__arrow--grey"></div>
                      </div>
                    </button>
                    <div class="tag-dropdown-menu__content tag-dropdown-menu__content--state_invisible">
                        <span class="tag-dropdown-menu__item tag-dropdown-menu__item--state_selected" >
                            Paid
                        </span>
                        <span class="tag-dropdown-menu__item" >
                            Unpaid
                        </span>
                    </div>
                    <div class="backdrop backdrop--transparent backdrop--state_invisible"></div>
                </div>





                </td>
                <td class="super-admin-orders-table__row-cell">




                  <div class="tag-dropdown-menu">
                    <button class="tag-dropdown-menu__btn">
                      <div class="tag tag--pink">
                        <span class="tag__content">Cancelled</span>
                        <div class="tag__arrow tag__arrow--pink"></div>
                      </div>
                    </button>
                    <div class="tag-dropdown-menu__content tag-dropdown-menu__content--state_invisible">
                        <span class="tag-dropdown-menu__item tag-dropdown-menu__item--state_selected" >
                          Finished
                        </span>
                        <span class="tag-dropdown-menu__item" >
                          New
                        </span>
                        <span class="tag-dropdown-menu__item" >
                          Returned
                        </span>
                        <span class="tag-dropdown-menu__item" >
                          Cancelled
                        </span>
                    </div>
                    <div class="backdrop backdrop--transparent backdrop--state_invisible"></div>
                  </div>


                </td>
                <td class="super-admin-orders-table__row-cell">
                  <button class="sold-products-card__details-btn super-admin-orders-table__details-btn">Details</button>
                </td>
              </tr>
              <tr class="super-admin-orders-table__row">
                <td class="super-admin-orders-table__row-cell">1</td>
                <td class="super-admin-orders-table__row-cell">14.06.2021</td>
                <td class="super-admin-orders-table__row-cell">Name Surname</td>
                <td class="super-admin-orders-table__row-cell">$ 100</td>
                <td class="super-admin-orders-table__row-cell">


                  <div class="tag-dropdown-menu">
                    <button class="tag-dropdown-menu__btn">
                      <div class="tag tag--transparent">
                        <span class="tag__content">Paid</span>
                        <div class="tag__arrow tag__arrow--grey"></div>
                      </div>
                    </button>
                    <div class="tag-dropdown-menu__content tag-dropdown-menu__content--state_invisible">
                        <span class="tag-dropdown-menu__item tag-dropdown-menu__item--state_selected" >
                            Paid
                        </span>
                        <span class="tag-dropdown-menu__item" >
                            Unpaid
                        </span>
                    </div>
                    <div class="backdrop backdrop--transparent backdrop--state_invisible"></div>
                </div>


                </td>
                <td class="super-admin-orders-table__row-cell">



                  <div class="tag-dropdown-menu">
                    <button class="tag-dropdown-menu__btn">
                      <div class="tag tag--pink">
                        <span class="tag__content">Cancelled</span>
                        <div class="tag__arrow tag__arrow--pink"></div>
                      </div>
                    </button>
                    <div class="tag-dropdown-menu__content tag-dropdown-menu__content--state_invisible">
                        <span class="tag-dropdown-menu__item tag-dropdown-menu__item--state_selected" >
                          Finished
                        </span>
                        <span class="tag-dropdown-menu__item" >
                          New
                        </span>
                        <span class="tag-dropdown-menu__item" >
                          Returned
                        </span>
                        <span class="tag-dropdown-menu__item" >
                          Cancelled
                        </span>
                    </div>
                    <div class="backdrop backdrop--transparent backdrop--state_invisible"></div>
                  </div>



                </td>
                <td class="super-admin-orders-table__row-cell">
                  <button class="sold-products-card__details-btn super-admin-orders-table__details-btn">Details</button>
                </td>
              </tr>
              <tr class="super-admin-orders-table__row">
                <td class="super-admin-orders-table__row-cell">1</td>
                <td class="super-admin-orders-table__row-cell">14.06.2021</td>
                <td class="super-admin-orders-table__row-cell">Name Surname</td>
                <td class="super-admin-orders-table__row-cell">$ 100</td>
                <td class="super-admin-orders-table__row-cell">

                  <div class="tag-dropdown-menu">
                    <button class="tag-dropdown-menu__btn">
                      <div class="tag tag--transparent">
                        <span class="tag__content">Paid</span>
                        <div class="tag__arrow tag__arrow--grey"></div>
                      </div>
                    </button>
                    <div class="tag-dropdown-menu__content tag-dropdown-menu__content--state_invisible">
                        <span class="tag-dropdown-menu__item tag-dropdown-menu__item--state_selected" >
                            Paid
                        </span>
                        <span class="tag-dropdown-menu__item" >
                            Unpaid
                        </span>
                    </div>
                    <div class="backdrop backdrop--transparent backdrop--state_invisible"></div>
                </div>


                </td>
                <td class="super-admin-orders-table__row-cell">




                  <div class="tag-dropdown-menu">
                    <button class="tag-dropdown-menu__btn">
                      <div class="tag tag--yellow">
                        <span class="tag__content">Returned</span>
                        <div class="tag__arrow tag__arrow--yellow"></div>
                      </div>
                    </button>
                    <div class="tag-dropdown-menu__content tag-dropdown-menu__content--state_invisible">
                        <span class="tag-dropdown-menu__item tag-dropdown-menu__item--state_selected" >
                          Finished
                        </span>
                        <span class="tag-dropdown-menu__item" >
                          New
                        </span>
                        <span class="tag-dropdown-menu__item" >
                          Returned
                        </span>
                        <span class="tag-dropdown-menu__item" >
                          Cancelled
                        </span>
                    </div>
                    <div class="backdrop backdrop--transparent backdrop--state_invisible"></div>
                  </div>


                </td>
                <td class="super-admin-orders-table__row-cell">
                  <button class="sold-products-card__details-btn super-admin-orders-table__details-btn">Details</button>
                </td>
              </tr>
              <tr class="super-admin-orders-table__row">
                <td class="super-admin-orders-table__row-cell">1</td>
                <td class="super-admin-orders-table__row-cell">14.06.2021</td>
                <td class="super-admin-orders-table__row-cell">Name Surname</td>
                <td class="super-admin-orders-table__row-cell">$ 100</td>
                <td class="super-admin-orders-table__row-cell">



                    <div class="tag-dropdown-menu">
                        <button class="tag-dropdown-menu__btn">
                          <div class="tag tag--transparent">
                            <span class="tag__content">Paid</span>
                            <div class="tag__arrow tag__arrow--grey"></div>
                          </div>
                        </button>
                        <div class="tag-dropdown-menu__content tag-dropdown-menu__content--state_invisible">
                            <span class="tag-dropdown-menu__item tag-dropdown-menu__item--state_selected" >
                                Paid
                            </span>
                            <span class="tag-dropdown-menu__item" >
                                Unpaid
                            </span>
                        </div>
                        <div class="backdrop backdrop--transparent backdrop--state_invisible"></div>
                    </div>





                </td>
                <td class="super-admin-orders-table__row-cell">


                  <div class="tag-dropdown-menu">
                    <button class="tag-dropdown-menu__btn">
                      <div class="tag tag--yellow">
                        <span class="tag__content">Returned</span>
                        <div class="tag__arrow tag__arrow--yellow"></div>
                      </div>
                    </button>
                    <div class="tag-dropdown-menu__content tag-dropdown-menu__content--state_invisible">
                        <span class="tag-dropdown-menu__item tag-dropdown-menu__item--state_selected" >
                          Finished
                        </span>
                        <span class="tag-dropdown-menu__item" >
                          New
                        </span>
                        <span class="tag-dropdown-menu__item" >
                          Returned
                        </span>
                        <span class="tag-dropdown-menu__item" >
                          Cancelled
                        </span>
                    </div>
                    <div class="backdrop backdrop--transparent backdrop--state_invisible"></div>
                  </div>
                </td>
                <td class="super-admin-orders-table__row-cell">
                  <button class="sold-products-card__details-btn super-admin-orders-table__details-btn">Details</button>
                </td>
              </tr>
            </table>






            <button class="show-more-btn">Show more</button>
          </div>
        </div>
      </div>

    </div>
  </section>
  <footer class="footer">
    <div class="wrapper">
      <div class="footer__container">
        <div class="footer__content">
          <ul class="footer__column info">
            <li class="info__item footer__list-item">
              <a href="./about.html">About us</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="./contact.html">Contact</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="./faq.html">FAQs</a>
            </li>
          </ul>
          <a href="./index.html">
            <div class="logo--small_transparent_beige-frame"></div>
          </a>
          <ul class="footer__column media">
            <li class="media__item footer__list-item">
              <a href="#"> Instagram </a>
            </li>
            <li class="footer__list-item">
              <a href="#"> Facebook </a>
            </li>
            <li class="footer__list-item">
              <a href="#"> Twitter </a>
            </li>
          </ul>
        </div>
        <div class="copyright">
          <div class="copyright__logo">
            <a href="./index.html">
              <div class="logo--small_transparent_beige-frame"></div>
            </a>
          </div>
          <div class="copyright__description">© All rights reserved.</div>
        </div>
      </div>
    </div>
  </footer>

  <div id="wish-list-side-panel" class="wish-list-side-panel wish-list-side-panel--state_invisible">
    <div class="wish-list-side-panel__close-container">
      <button id="wish-list-side-panel__close-btn" class="wish-list-side-panel__close-btn">
        Close
      </button>
    </div>

    <div class="wish-list-side-panel__content">
      <section class="wish-list-side-panel__cadslist">
        <div class="wish-list-side-panel-card">
          <div class="wish-list-side-panel-card__container">
            <div class="wish-list-side-panel-card__image">
              <img src="./assets/images/Product-to-sell-mock.png" alt="product" />
            </div>
            <div class="wish-list-side-panel-card__content">
              <div class="wish-list-side-panel-card__name-container">
                <div class="wish-list-side-panel-card__name">
                  "Buy", Long Island University
                </div>
                <button class="close-btn"></button>
              </div>
              <div class="wish-list-side-panel-card__info">
                <div class="wish-list-side-panel-card__info-keys">
                  <span class="wish-list-side-panel-card__info-keys-item">Paper:</span>
                  <span class="wish-list-side-panel-card__info-keys-item">Matte:</span>
                  <span class="wish-list-side-panel-card__info-keys-item">Size:</span>
                  <span class="wish-list-side-panel-card__info-keys-item">Frame:</span>
                </div>
                <div class="wish-list-side-panel-card__info-values">
                  <span class="wish-list-side-panel-card__info-values-item">LexJet Sunset Photo eSatin — 300 gsm LexJet
                    Sunset Photo
                    eSatin — 300 gsm</span>
                  <span class="wish-list-side-panel-card__info-values-item">1”
                  </span>
                  <span class="wish-list-side-panel-card__info-values-item">8 x 10</span>
                  <span class="wish-list-side-panel-card__info-values-item">Classic Black</span>
                </div>
              </div>
              <div class="wish-list-side-panel-card__price-container">
                <div class="wish-list-side-panel-card__counter-btn">
                  <div class="wish-list-side-panel-card__counter-btn-action">
                    -
                  </div>
                  <div class="wish-list-side-panel-card__count">
                    <span>1</span>
                  </div>
                  <div class="wish-list-side-panel-card__counter-btn-action">
                    +
                  </div>
                </div>
                <div class="wish-list-side-panel-card__price">$ 100.00</div>
              </div>
            </div>
          </div>
        </div>

        <div class="wish-list-side-panel-card">
          <div class="wish-list-side-panel-card__container">
            <div class="wish-list-side-panel-card__image">
              <img src="./assets/images/Product-to-sell-mock.png" alt="product" />
            </div>
            <div class="wish-list-side-panel-card__content">
              <div class="wish-list-side-panel-card__name-container">
                <div class="wish-list-side-panel-card__name">
                  "Buy", Long Island University
                </div>
                <button class="close-btn"></button>
              </div>
              <div class="wish-list-side-panel-card__info">
                <div class="wish-list-side-panel-card__info-keys">
                  <span class="wish-list-side-panel-card__info-keys-item">Paper:</span>
                  <span class="wish-list-side-panel-card__info-keys-item">Matte:</span>
                  <span class="wish-list-side-panel-card__info-keys-item">Size:</span>
                  <span class="wish-list-side-panel-card__info-keys-item">Frame:</span>
                </div>
                <div class="wish-list-side-panel-card__info-values">
                  <span class="wish-list-side-panel-card__info-values-item">LexJet Sunset Photo eSatin — 300 gsm LexJet
                    Sunset Photo
                    eSatin — 300 gsm</span>
                  <span class="wish-list-side-panel-card__info-values-item">1”
                  </span>
                  <span class="wish-list-side-panel-card__info-values-item">8 x 10</span>
                  <span class="wish-list-side-panel-card__info-values-item">Classic Black</span>
                </div>
              </div>
              <div class="wish-list-side-panel-card__price-container">
                <div class="wish-list-side-panel-card__counter-btn">
                  <div class="wish-list-side-panel-card__counter-btn-action">
                    -
                  </div>
                  <div class="wish-list-side-panel-card__count">
                    <span>1</span>
                  </div>
                  <div class="wish-list-side-panel-card__counter-btn-action">
                    +
                  </div>
                </div>
                <div class="wish-list-side-panel-card__price">$ 100.00</div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="wish-list-side-panel__subtotal">
        <div class="wish-list-side-panel__subtotal-item">Subtotal</div>
        <div class="wish-list-side-panel__subtotal-item">300.00 EUR</div>
      </div>

      <div class="wish-list-side-panel__action-btns">
        <button id="wish-list-side-panel__continue-shopping-btn" class="
              wish-list-side-panel__transparent-btn
              wish-list-side-panel__action-btn
            ">
          <span>Continue shopping</span>
        </button>
        <a href="./wishlist.html">
          <button class="wish-list-side-panel__dark-btn wish-list-side-panel__action-btn">
            <span>Go to cart</span>
          </button>
        </a>
      </div>
    </div>
  </div>

  <div id="wish-list-side-panel__backdrop" class="backdrop backdrop--state_invisible" />

  <div class="react" data-type="tag-dropdown" ></div>
  <div class="react" data-type="dropdown-input-field" ></div>
  <div class="react" data-type="phone-custom-input" ></div>
  <div class="react" data-type="wish-list-side-panel" ></div>
  <div class="react" data-type="manage-panel"></div>
</body>

</html>