<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pages / Artists</title>
</head>

<body>
  <section class="super-admin">
    <div class="wrapper">
      <header class="super-admin__header">

        <a href="./index.html">
          <div class="logo logo--big_transparent_beige-frame"></div>
        </a>


      </header>
    </div>
    <br />
  </section>
  <hr class="line" />

  <section class="main">
    <div class="wrapper">

      <div class="super-admin-pages-artwork">
        <div class="super-admin__layout">
          <div class="admin-pages-list">
            <div class="admin-pages-list__item admin-pages-list__item--state_inactive">Dashboard</div>
            <div class="admin-pages-list__item admin-pages-list__item--state_active">Pages</div>

            <div class="admin-pages-list__subitems">
              <div class="admin-pages-list__subitem admin-pages-list__subitem--state_inactive">Artwork</div>
              <div class="admin-pages-list__subitem admin-pages-list__subitem--state_active">Artists</div>
            </div>

            <div class="admin-pages-list__item admin-pages-list__item--state_inactive">Sales</div>
            <div class="admin-pages-list__item admin-pages-list__item--state_inactive">Orders</div>
            <div class="admin-pages-list__item admin-pages-list__item--state_inactive">Log out</div>
          </div>
          <div class="super-admin__content">
            <div class="super-admin__title-container">
              <h3 class="super-admin__title">Artists</h3>
            </div>
            <button id="add-artwork-modal__open-btn" class="add-artwork-btn">Add a new artist</button>

            <div>
              <div id="add-artwork-modal" class="add-artwork-modal add-artwork-modal--state-invisible">


                <div id="add-artwork-modal__close-btn" class="close-btn add-artwork-modal__close-btn"></div>

                <div class="add-artwork-modal__input-field-list">

                  <div class="input-field">
                    <div class="input-field__label">Name*</div>
                    <div class="input-field__inputs-set">
                      <input type="text" class="input-field__input" placeholder="" />
                    </div>
                  </div>

                  <div class="input-field">
                    <div class="input-field__label">Surname*</div>
                    <div class="input-field__inputs-set">
                      <input type="text" class="input-field__input" placeholder="" />
                    </div>
                  </div>

                  <div class="dropdown-input-field">
                    <div class="dropdown-input-field__title">Country*</div>

                    <div class="dropdown-input-field__container">
                      <button class="dropdown-input-field__btn dropdown-input-field__btn--state_inactive">
                        <div class="dropdown-input-field__btn-label"></div>
                        <div class="dropdown-input-field__btn-icon arrow-bottom"></div>
                      </button>

                      <div class="dropdown-input-field__content dropdown-input-field__content--state_invisible add-artwork-modal__filter">

                        <div class="filter__content add-artwork-modal__filter-container">
                          <input type="text" class="filter__search-field add-artwork-modal__search-field" placeholder="Search">

                          <label class="filter__label custom-checkbox">
                            <input type="checkbox" class="filter__checkbox custom-checkbox__input"/>
                            <span class="custom-checkbox__label">Name Surname</span>
                          </label>
                          <label class="filter__label custom-checkbox">
                            <input type="checkbox" class="filter__checkbox custom-checkbox__input"/>
                            <span class="custom-checkbox__label">Name Surname</span>
                          </label>
                          <label class="filter__label custom-checkbox">
                            <input type="checkbox" class="filter__checkbox custom-checkbox__input"/>
                            <span class="custom-checkbox__label">Name Surname</span>
                          </label>
                        </div>

                      </div>


                      <div class="backdrop backdrop--state_invisible"></div>
                    </div>
                  </div>

                  <div class="input-field">
                    <div class="input-field__label">Theme*</div>
                    <div class="input-field__inputs-set">
                      <select class="custom-select" name="theme_id">
                        <option value="1">Abstract</option>
                        <option value="2">Architecture</option>
                        <option value="3">Contemporary</option>
                        <option value="4">Celebrity</option>
                        <option value="5">Landscape</option>
                        <option value="6">Minimalist</option>
                      </select>
                    </div>
                  </div>

                  <div class="input-field">
                    <div class="input-field__label">Short biography (100 symbols max)*</div>
                    <div class="input-field__inputs-set">
                      <textarea class="input-field__input textarea" placeholder=""></textarea>
                    </div>
                  </div>

                  <div class="input-field">
                    <div class="input-field__label">Full biography*</div>
                    <div class="input-field__inputs-set">
                      <textarea class="input-field__input textarea" placeholder=""></textarea>
                    </div>
                  </div>

                  <div class="input-field">
                    <div class="input-field__label">Instagram</div>
                    <div class="input-field__inputs-set">
                      <input type="text" class="input-field__input" placeholder="" />
                    </div>
                  </div>

                  <div class="input-field">
                    <div class="input-field__label">Twitter</div>
                    <div class="input-field__inputs-set">
                      <input type="text" class="input-field__input" placeholder="" />
                    </div>
                  </div>

                  <div class="input-field">
                    <div class="input-field__label">Artist image*</div>
                    <div class="input-field__inputs-set">
                      <textarea class="input-field__input textarea" placeholder=""></textarea>
                    </div>

                    <input type="file" class="custom-file-input custom-file-input__add-artist input-field__button">



                  </div>



                </div>

                <button id="add-artwork-modal__submit-btn" class="button_dark">
                  <span>Submit</span>
                </button>

              </div>

              <div id="add-artwork-modal__backdrop" class="backdrop backdrop--grey backdrop--state_invisible"></div>
              <div class="react" data-type="add-artwork-modal" ></div>
            </div>




            <div class="super-admin-pages-artwork__container">
              <div class="super-admin__title-container">
                <h3 class="super-admin__title">All artists (100 persons)</h3>
              </div>

              <div class="super-admin-pages-artwork__manage-panel">
                <div class="manage-panel__buttons-bar">
                  <div class="manage-panel__filters" id="manage-panel__tabs">
                  </div>
                  <div class="manage-panel__filters">
                    <div class="manage-panel__filter-item">
                      <div class="dropdown-menu">
                        <button id="manage-panel__sort-btn" class="dropdown-menu__btn">
                          Sort by
                        </button>
                        <div id="manage-panel__sort-menu"
                          class="dropdown-menu__content dropdown-menu__content--state_invisible">
                          <span class="dropdown-menu__item dropdown-menu__item--state_selected">
                            A to Z
                          </span>
                          <span class="dropdown-menu__item">
                            Newest
                          </span>
                        </div>
                      </div>
                    </div>
                    <div id="manage-panel__search-btn" class="manage-panel__filter-item manage-panel__search-btn">
                      Search
                    </div>
                  </div>
                </div>
                <div class="manage-panel__search-bar">
                  <textarea id="manage-panel__search-field"
                    class="manage-panel__search-field manage-panel__search-field--state_invisible"
                    placeholder="Search"></textarea>
                </div>
              </div>


              <div class="super-admin-pages-artwork__cards-list">

                <div class="super-admin-pages-artwork-card">
                  <div class="super-admin-pages-artwork-card__number">1</div>
                  <div class="super-admin-pages-artwork-card__container">
                    <div class="super-admin-pages-artwork-card__content">
                      <div class="super-admin-pages-artwork-card__image">
                        <img src="./assets/images/author-mock-little.png" alt="artwork">
                      </div>
                      <div class="super-admin-pages-artwork-card__description card-description__artist">
                        <div class="super-admin-pages-artwork-card__artist">André Kertész</div>
                      </div>
                    </div>
                    <div class="super-admin-pages-artwork-card__actions">
                      <button class="super-admin-pages-artwork-card__edit-btn">Edit</button>
                      <button class="super-admin-pages-artwork-card__delete-btn">Delete</button>
                    </div>
                  </div>
                </div>
                <div class="super-admin-pages-artwork-card">
                  <div class="super-admin-pages-artwork-card__number">2</div>
                  <div class="super-admin-pages-artwork-card__container">
                    <div class="super-admin-pages-artwork-card__content">
                      <div class="super-admin-pages-artwork-card__image">
                        <img src="./assets/images/author-mock-little.png" alt="artwork">
                      </div>
                      <div class="super-admin-pages-artwork-card__description card-description__artist">
                        <div class="super-admin-pages-artwork-card__artist">André Kertész</div>
                      </div>
                    </div>
                    <div class="super-admin-pages-artwork-card__actions">
                      <button class="super-admin-pages-artwork-card__edit-btn">Edit</button>
                      <button class="super-admin-pages-artwork-card__delete-btn">Delete</button>
                    </div>
                  </div>
                </div>
                <div class="super-admin-pages-artwork-card">
                  <div class="super-admin-pages-artwork-card__number">3</div>
                  <div class="super-admin-pages-artwork-card__container">
                    <div class="super-admin-pages-artwork-card__content">
                      <div class="super-admin-pages-artwork-card__image">
                        <img src="./assets/images/author-mock-little.png" alt="artwork">
                      </div>
                      <div class="super-admin-pages-artwork-card__description card-description__artist">
                        <div class="super-admin-pages-artwork-card__artist">André Kertész</div>
                      </div>
                    </div>
                    <div class="super-admin-pages-artwork-card__actions">
                      <button class="super-admin-pages-artwork-card__edit-btn">Edit</button>
                      <button class="super-admin-pages-artwork-card__delete-btn">Delete</button>
                    </div>
                  </div>
                </div>

              </div>


            </div>



            <button class="show-more-btn">Show more</button>
          </div>
        </div>
      </div>

    </div>
  </section>
  <footer class="footer">
    <div class="wrapper">
      <div class="footer__container">
        <div class="footer__content">
          <ul class="footer__column info">
            <li class="info__item footer__list-item">
              <a href="./about.html">About us</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="./contact.html">Contact</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="./faq.html">FAQs</a>
            </li>
          </ul>
          <a href="./index.html">
            <div class="logo--small_transparent_beige-frame"></div>
          </a>
          <ul class="footer__column media">
            <li class="media__item footer__list-item">
              <a href="#"> Instagram </a>
            </li>
            <li class="footer__list-item">
              <a href="#"> Facebook </a>
            </li>
            <li class="footer__list-item">
              <a href="#"> Twitter </a>
            </li>
          </ul>
        </div>
        <div class="copyright">
          <div class="copyright__logo">
            <a href="./index.html">
              <div class="logo--small_transparent_beige-frame"></div>
            </a>
          </div>
          <div class="copyright__description">© All rights reserved.</div>
        </div>
      </div>
    </div>
  </footer>

        <!-- ToDo add "Saved!" modal -->
        <!-- <div>
          <div class="status-modal status-modal--state-visible super-admin-pages-artwork__saved-modal">
            <div id="paper-types-modal__close-btn" class="close-btn status-modal__close-btn"></div>
            <div class="status-modal__content">
              <div class="notification-icon notification-icon__success"></div>
              <div class="status-modal__title">Saved!</div>
              <div class="status-modal__description">
                The artist was successfully saved
              </div>
            </div>
          </div>

          <div class="backdrop backdrop--grey"></div>
        </div> -->


        <!-- ToDo add "Deleted!" modal -->
        <!-- <div>
          <div class="status-modal status-modal--state-visible super-admin-pages-artwork__deleted-modal">
            <div id="paper-types-modal__close-btn" class="close-btn status-modal__close-btn"></div>
            <div class="status-modal__content">
              <div class="notification-icon notification-icon__delete"></div>
              <div class="status-modal__title">Deleted!</div>
              <div class="status-modal__description">
                The artist was successfully deleted
              </div>
            </div>
          </div>

          <div class="backdrop backdrop--grey"></div>
        </div> -->


      <!-- ToDo add "Are you sure you want to delete this artist?" modal -->
        <!-- <div>
          <div class="status-modal status-modal--state-visible super-admin-pages-artwork__deleted-modal">
            <div id="paper-types-modal__close-btn" class="close-btn status-modal__close-btn"></div>
            <div class="status-modal__content">
              <div class="notification-icon notification-icon__attention"></div>
              <div class="status-modal__title">Are you sure you want to delete this artist?</div>
            </div>

            <div class="status-modal__actions">

              <button class="status-modal__cancel-btn status-modal__action-btn button--bright__wide">Cancel</button>
              <button class="status-modal__action-btn button_dark">Delete</button>

            </div>
          </div>

          <div class="backdrop backdrop--grey"></div>
        </div> -->

  <div class="react" data-type="status-modal"></div>
  <div class="react" data-type="dropdown-input-field"></div>
  <div class="react" data-type="phone-custom-input"></div>
  <div class="react" data-type="manage-panel"></div>
</body>

</html>