<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shipping and payment</title>
</head>

<body>
  <section class="product-page__header">
    <div class="wrapper">
      <header class="header">
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="./artworks.html">Artwork</a>
            </li>
            <li class="nav__item">
              <a href="./artists.html">Artists</a>
            </li>
          </ul>
        </nav>

        <a href="./index.html">
          <div class="logo logo--big_transparent_beige-frame"></div>
        </a>

        <div class="actions">
          <ul class="actions__list">
            <li class="actions__item like">
              <a href="./wishlist.html" class="login__link">
                <img src="./assets/icons/heart_black.svg" alt="like">
              </a>
            </li>
            <li class="actions__item login">
              <a href="./login.html" class="login__link">Log in</a>
            </li>

            <li class="actions__item currency">
              <select class="currency__select" name="currency-select" id="currency-select">
                <option class="currency__option" value="USD">USD</option>
                <option class="currency__option" value="INR">INR</option>
                <option class="currency__option" value="GBP">GBP</option>
                <option class="currency__option" value="CAD">CAD</option>
                <option class="currency__option" value="AUD">AUD</option>
                <option class="currency__option" value="EUR">EUR</option>
                <option class="currency__option" value="JPY">JPY</option>
              </select>
            </li>

            <li class="actions__item cart">
              <div class="cart__container">
                <a href="./cart.html" class="cart__link">Cart</a>
                <div class="cart__counter">0</div>
              </div>
            </li>
          </ul>
        </div>
      </header>
    </div>
    <br>
  </section>
  <hr class="line">
  <section class="main">

    <div class="wrapper">

      <div class="wishlist">

        <div class="address-bar">
          <div class="address-bar__container">
            <a href="./index.html" class="address-bar__item">Home</a>
            &nbsp;/&nbsp;
            <a href="./wishlist.html" class="address-bar__item">Wishlist</a>
          </div>
        </div>


        <section class="whishlist__container">
          <h3 class="whishlist__title">Wishlist (3 items)</h3>

          <!-- ToDo add if no products in list -->
          <!-- <div class="no-products-in-list">
            <h3 class="no-products-in-list__title">
              No products in your wishlist
            </h3>

            <div class="no-products-in-list__description">
              <span>Click the </span>
              <span class="heart__grey"></span>
              <span> icon to add products</span>
            </div>

            <button class="button_dark_arrow no-products-in-list__action-btn">
              <span>Continue shopping</span>
              <div class="arrow-right__white"></div>
            </button>

          </div> -->




          <div class="whishlist__cardslist">

            <div class="whishlist-card">

              <div class="whishlist-card__image">
                  <img src="./assets/images/Product-to-sell-mock.png" alt="wishlist-artwork" />
              </div>

              <div class="whishlist-card__description">

                <div class="whishlist-card__name-container">
                  <div class="whishlist-card__name">
                    "Buy", Long Island University
                  </div>
                  <button class="close-btn"></button>
                </div>

                <div class="whishlist-card__author">
                  André Kertész
                </div>

                <div class="whishlist-card__price-container">
                  <div class="whishlist-card__price">$ 100.00</div>
                </div>

              </div>
            </div>

            <div class="whishlist-card">

              <div class="whishlist-card__image">
                  <img src="./assets/images/Product-to-sell-mock.png" alt="wishlist-artwork" />
              </div>

              <div class="whishlist-card__description">

                <div class="whishlist-card__name-container">
                  <div class="whishlist-card__name">
                    "Buy", Long Island University
                  </div>
                  <button class="close-btn"></button>
                </div>

                <div class="whishlist-card__author">
                  André Kertész
                </div>

                <div class="whishlist-card__price-container">
                  <div class="whishlist-card__price">$ 100.00</div>
                </div>

              </div>
            </div>

            <div class="whishlist-card">

              <div class="whishlist-card__image">
                  <img src="./assets/images/Product-to-sell-mock.png" alt="wishlist-artwork" />
              </div>

              <div class="whishlist-card__description">

                <div class="whishlist-card__name-container">
                  <div class="whishlist-card__name">
                    "Buy", Long Island University
                  </div>
                  <button class="close-btn"></button>
                </div>

                <div class="whishlist-card__author">
                  André Kertész
                </div>

                <div class="whishlist-card__price-container">
                  <div class="whishlist-card__price">$ 100.00</div>
                </div>

              </div>
            </div>


          </div>

          <button class="button_bright--width_small">
            <span>Show more</span>
          </button>
      </section>



      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="wrapper">
      <div class="footer__container">
        <div class="footer__content">
          <ul class="footer__column info">
            <li class="info__item footer__list-item">
              <a href="./about.html">About us</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="./contact.html">Contact</a>
            </li>
            <li class="info__item footer__list-item">
              <a href="./faq.html">FAQs</a>
            </li>
          </ul>
          <a href="./index.html">
            <div class="logo--small_transparent_beige-frame"></div>
          </a>
          <ul class="footer__column media">
            <li class="media__item footer__list-item">
              <a href="#">
                Instagram
              </a>
            </li>
            <li class="footer__list-item">
              <a href="#">
                Facebook
              </a>
            </li>
            <li class="footer__list-item">
              <a href="#">
                Twitter
              </a>
            </li>
          </ul>
        </div>
        <div class="copyright">
          <div class="copyright__logo">
            <a href="./index.html">
              <div class="logo--small_transparent_beige-frame"></div>
            </a>
          </div>
          <div class="copyright__description">© All rights reserved.</div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>