.authorisation {

}

.authorisation__container {
  width: 590px;
  margin: 0 auto;
  padding: 35px 0 97px 0;
}

.authorisation-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.authorisation-field {
  width: 100%;
}

.authorisation-field__label {
  padding-bottom: 10px;
}

.authorisation-field__input {
  width: 100%;
}

.authorisation__btn-container {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
}

.authorisation__btn {
  width: 100%;
}

.create-account {

}
