.faq {}

.faq__header {
  background-image: url('../../assets/images/FAQ.png');
  background-size: cover;
}

.faq-page {}

.faq-page__container {
  padding-top: 56px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.faq-page__drop-down-btn {
  height: 75px;
  background-color: $background-color-primary-grey-87;
  padding-left: 25px;
}
