.product-page {

}

.product-page__header {
    background-color: $background-color-main;
}

.product-page__product-details {
    padding-bottom: 153px;
    border-bottom: 1px solid $color-neutral-80;
}

.product-page__artist-details {
    padding-top: 153px;
    padding-bottom: 193px;
    border-bottom: 1px solid $color-neutral-80;
}

.product-page__title {
    @include h2;
    line-height: 55px;
    text-transform: uppercase;
}

.product-page__content {
    padding-top: 61px;
}

.product-page__products-list {
    padding-top: 154px;
}
