.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-menu__btn {
  cursor: pointer;
  border: none;
  color: $color-neutral-40;
  background-color: transparent;
}

.dropdown-menu__content {
  position: absolute;
  top: 30px;
  background-color: $background-color-light;
  min-width: 275px;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown-menu__content--state_visible {
  clip: rect(auto, auto, 180px, auto);
  transition-property: clip;
  transition-duration: 0.5s;
}

.dropdown-menu__content--state_invisible {
  clip: rect(auto, auto, 0, auto);
  transition-property: clip;
  transition-duration: 0.5s;
}


/* Links inside the dropdown */
.dropdown-menu__item {
  cursor: pointer;
  color: $color-neutral-50;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

.dropdown-menu__item--state_selected {
  color: $color-neutral-20;
}

/* Change color of dropdown links on hover */
.dropdown-menu__item:hover {
  background-color: #ddd;
}
