.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-menu__btn {
  cursor: pointer;
  border: none;
  color: $color-neutral-40;
  background-color: transparent;
}

.dropdown-menu__content {
  position: absolute;
  top: 30px;
  background-color: $background-color-light;
  min-width: 275px;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 20px 15px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.dropdown-menu__content--state_visible {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dropdown-menu__content--state_invisible {
  display: none;
}


/* Links inside the dropdown */
.dropdown-menu__item {
  cursor: pointer;
  color: $color-neutral-50;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

.dropdown-menu__item--state_selected {
  color: $color-neutral-20;
}

/* Change color of dropdown links on hover */
.dropdown-menu__item:hover {
  background-color: #ddd;
}
