.file-uploader__form {
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 30px;
}

.file-area {
    width: 100%;
    position: relative;

    input[type="file"] {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      cursor: pointer;
    }

    .file-dummy {
      width: 100%;
      padding: 50px;
      background: $background-color-primary-grey-87;
      border: 1px dashed $background-color-primary-grey-77;
      text-align: center;
      transition: background 0.3s ease-in-out;
    }

    &:hover .file-dummy {
      background-color: darken($background-color-primary-grey-87, 3%);
    }

    input[type="file"]:focus + .file-dummy {
      outline: 2px solid rgba(255, 255, 255, 0.5);
      outline: -webkit-focus-ring-color auto 5px;
    }

    input[type="file"]:valid + .file-dummy {
    }
}

.file-uploader__title {
    color: $color-neutral-50;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 5px;
}

.file-uploader__link {
    color: rgba(0, 0, 238, 0.6);
    text-decoration: underline;
}

.file-uploader__description {
    font-size: 14px;
    line-height: 20px;
    color: $color-neutral-60;
}

.file-upload-item {
    max-width: 504px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.file-upload-item__image {
    background-image: url('../../assets/icons/bi_file-image-fill.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 52px;
    height: 52px;
    margin-right: 10px;
}

.file-upload-item__content {
    width: calc(100% - 52px);
    display: flex;
    flex-direction: column;
}

.file-upload-item__first-line {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.file-upload-item__filename {
    font-size: 16px;
    line-height: 20px;
}

.file-upload-item__size-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.file-upload-item__size {
    font-size: 16px;
    line-height: 20px;
    color: $color-neutral-50;
}

.file-upload-item__action-btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.close-small {
    background-image: url('../../assets/icons/close-small.svg');
}

.success {
    background-image: url('../../assets/icons/success.svg');
}

.reload {
    background-image: url('../../assets/icons/loading.svg');
}

.warning-filled {
    background-image: url('../../assets/icons/warning-filled.svg');
}

.trash {
    background-image: url('../../assets/icons/fluent_delete-24-filled.svg');
}

.file-upload-item__progress {
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    width: 100%;
}

.file-upload-item__progress::-webkit-progress-bar {
    background-color: $background-color-primary-grey-87;
}

.file-upload-item__progress::-webkit-progress-value {
    background-color: $color-neutral-40;
}

.file-upload-item__last-line {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.file-upload-item__status-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.loading-one-icon {
    background-image: url('../../assets/icons/loading-one.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.file-upload-item__status {
    color: $color-neutral-50;
    font-size: 16px;
    line-height: 20px;
}
