.filters-list {
}
.filter {
}

.filter__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 20px;
}

.filter__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.filter__content--scroll {
    max-height: 190px;
    overflow: scroll;
}

.filter__content--scroll::-webkit-scrollbar {
    width: 5px;
}

.filter__content--scroll::-webkit-scrollbar-track {
    height: 0px;
}

.filter__content--scroll::-webkit-scrollbar-thumb {
    background: $background-color-primary-grey-77;
}

.filter__content--scroll::-webkit-scrollbar-corner {
    display: none;
}

.filter__content--scroll::-webkit-resizer {
    display: none;
}

.filter__textarea {
    margin-bottom: 20px;
    padding: 8px 17px 9px 17px;
    width: 100%;
    height: 35px;
    font-size: 15px;
    line-height: 18px;
    color: $color-neutral-70;
    border-color: $color-neutral-100;
    border: 1px solid $color-neutral-70;
}

.filter__label {
}

.filter__checkbox {
}

.filter__delimiter {
    border: none;
    color: $color-neutral-90;
    background-color: $color-neutral-90;
    height: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
}
