.logo {
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.logo--big_transparent_beige-frame {
  width: 191px;
  height: 44px;
  background-image: url('../../assets/logo/transparent-big-logo.svg');
}

.logo--big_transparent_white-frame {
  width: 191px;
  height: 44px;
  background-image: url('../../assets/logo/logo-transparent-big-white-frame.svg');
}

.logo--small_transparent_beige-frame {
  width: 119px;
  height: 28px;
  background-image: url('../../assets/logo/logo-small-tranparent-beige-frame.svg');
}

.logo--smallest_tranparent_beige-frame {
  width: 96px;
  height: 23px;
  background-image: url('../../assets/logo/logo-smallest-tranparent-beige-frame.svg');
}



// .logo {
//   background-repeat: no-repeat;
//   background-position: 50% 50%;
//   width: 191px;
//   height: 44px;
// }

// .logo--big_transparent_beige-frame {
//   background-image: url('../../assets/logo/transparent-big-logo.svg');
// }

// .logo--big_transparent_white-frame {
//   background-image: url('../../assets/logo/logo-transparent-big-white-frame.svg');
// }

// .logo--small_transparent_beige-frame {
//   background-repeat: no-repeat;
//   background-position: 50% 50%;
//   width: 119px;
//   height: 28px;
//   background-image: url('../../assets/logo/logo--small_transparent_beige-frame.svg');
// }

// .logo-smallest-tranparent-beige-frame {
//   background-repeat: no-repeat;
//   background-position: 50% 50%;
//   width: 96px;
//   height: 23px;
//   background-image: url('../../assets/logo/logo--small_transparent_beige-frame.svg');
// }