.media-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.media-link {
    width: 30px;
    height: 30px;
    background-color: $background-color-primary-grey-87;
    display: flex;
    align-items: center;
    justify-content: center;
}
