.header {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav {
  width: 40%;
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: start;
}

.nav__item {
  font-size: 18px;
  line-height: 20px;
}

.logo {
}

.logo__link {
}

.actions {
  width: 40%;
}

.actions__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

.actions__item {
  font-size: 18px;
  line-height: 20px;
}

.like {
  cursor: pointer;
}
.login {
}

.cart {
}
.cart__container {
  display: flex;
  flex-direction: row;
  gap: 7px;
}
.cart__link {
}

.cart__counter {
  font-size: 12px;
  line-height: 14px;
  color: $color-neutral-100;
  background-color: $color-neutral-20;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}