.main {
  background-color: $background-color-main;
}

.main_selection {
  max-height: 2270px;
}

.main_home {
  height: 1660px;
}

.button_main {
  width: 321px;
}

.home-main__container {
  height: 100%;
}

.App {
  height: 100%;
}