.order-details-modal-btn {
    cursor: pointer;
}

.order-details-modal {
    position: absolute;
    top: 220px;
    right: calc(50vw - 435px);
    width: 870px;
    opacity: 1;
    z-index: 107;
    background-color: $background-color-main;
    overflow: auto;
    display: block;
    animation-name: 'samplePreviewIn';
    animation-duration: .40s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    animation-delay: 5ms;
    overflow: auto;
    padding: 50px 40px 28.5px 40px;
}

.order-details-modal--state-invisible {
    display: none;
}

.order-details-modal__title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-details-modal__title {
    @include h3-title;
}

.order-details-modal__subtitle {
    padding-top: 40px;
    @include h4-title;
}

.order-details-modal__list {
    padding-top: 15px;
}

.order-details-modal__list-item {
    list-style: inside;
    line-height: 30px;
}

.order-details-modal__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.order-details-modal__edit-order-btn-container {
    padding-top: 60px;
}


.order-details__content {
    width: 770px;
}

.order-details__header {
    padding-bottom: 20px;
    border-bottom: 1px solid $color-line;
}

.order-details__number {
    padding-bottom: 5px;
}

.order-details__date-and-time {
    color: $color-neutral-70;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.order-details__date {
}
.order-details__time {
}

.oder-details__table-row {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.order-details__table-row-title {
    font-weight: bold;
    line-height: 25px;
    width: 100px;
    // min-width: 100px;
    width: 20%;
}

.order-details__table-row-content {
    font-size: 16px;
    line-height: 20px;
    color: $color-neutral-30;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.order-details__product-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    width: 80%;
}

.order-details__price {
    width: 20%;
    text-align: end;
}

.order-details__shipping-details {
    text-align: left;
    // white-space: pre-line;
}

.order-details__line {
    margin-top: 30px;
    margin-bottom: 40px;
}

.order-details__subtotal {
    padding-top: 40px;
    margin-top: 30px;
    border-top: 1px solid $color-line;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}