.product-details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.product-image {
    width: 660px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.product-image__representation {
    width: 590px;
}

.product-image__like {
    position: relative;
    right: 44px;
    top: 20px;
}

.product-info {
    width: 530px;
}

.product-info__author {
    font-size: 18px;
    line-height: 20px;
    color: $color-neutral-30;
    margin-bottom: 13px;
}

.product-info__name {
    @include h2;
    margin-bottom: 22px;
}

.product-info__select-options {
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-info__description {
    color: $color-neutral-30;
    font-size: 18px;
    line-height: 20px;
}

.product-info__price {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 30px;
}

.product-info__price-units {

}

.product-info__price-currency {

}

.product-info__frames {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px;
}

.product-info__amount {
    margin-bottom: 15px;
    background-color: $background-color-primary-grey-87;
    padding: 13px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.product-info__add-btn {
    @include dark-button;
    width: 100%;
    margin-bottom: 50px;
}

.product-info__drop-down {
    margin-bottom: 15px;

}
