.selection {
  height: 450px;
}

.selection__container {
  width: 100%;
  height: 100%;
}

.selection__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 660px;
  margin: 108px auto 0 auto;
}

.selection__title {
  @include h1;
}

.selection__description {
  @include h4;
}
