.side-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 290px;
    height: auto;
    max-height: 100vh;
    opacity: 1;
    z-index: 107;
    background-color: $background-color-main;
    padding: 30px;
    overflow: auto;
    display: flex;
    transition-property: right;
    transition-duration: 0.25s;
}

.side-panel--state_invisible {
    right: -290px !important;
    transition-property: right;
    transition-duration: 0.25s;
}

.side-panel__close-btn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    & svg {
        color: doveGray;
    }
};
