



.wish-list-side-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 550px;
    opacity: 1;
    z-index: 107;
    background-color: $color-neutral-20;
    color: $color-neutral-80;
    overflow: auto;
    display: block;
    animation-name: 'samplePreviewIn';
    animation-duration: .40s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    animation-delay: 5ms;
    overflow: auto;
}

.wish-list-side-panel--state_invisible {
    display: none;
}

.wish-list-side-panel__close-container {
    height: 90px;
    padding: 35px 23px;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid $color-neutral-30;
}

.wish-list-side-panel__close-btn {
    color: $color-neutral-80;
    background-color: $color-neutral-20;
}

.wish-list-side-panel__content {
    padding: 25px 26px 38px 26px;
    width: 100%;
}

.wish-list-side-panel__cardslist {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-bottom: 60px;
  border-bottom: 1px solid $color-neutral-30;
}

.wish-list-side-panel-card {
  width: 100%;
  border-bottom: 1px solid $color-neutral-30;
  padding-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wish-list-side-panel-card__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
}

.wish-list-side-panel-card__image {
    margin-top: 20px;
    width: 100px;
    height: 120px;
}

.wish-list-side-panel-card__content {
    display: flex;
    flex-direction: column;
    width: 375px;
    overflow: hidden;
}

.wish-list-side-panel-card__name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 15px;
}

.wish-list-side-panel-card__name {
    padding-top: 20px;
    max-width: 240px;
}

.wish-list-side-panel-card__info {
    width: 100%;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
    color: $color-neutral-60;
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: flex-start;
    justify-content: flex-start;
}

.wish-list-side-panel-card__info-keys {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 30%;
}

.wish-list-side-panel-card__info-keys-item {

}

.wish-list-side-panel-card__info-values {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.wish-list-side-panel-card__info-values-item {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.wish-list-side-panel-card__price-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.wish-list-side-panel-card__counter-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90px;
    height: 40px;
    background-color: $color-neutral-20;
    border: 1px solid $color-neutral-80;
    margin-bottom: 6px;
}

.wish-list-side-panel-card__count {
    color: $color-neutral-80;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center
}

.wish-list-side-panel-card__counter-btn-action {
    color: $color-neutral-50;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.wish-list-side-panel-card__price {

}

.wish-list-side-panel__subtotal {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $color-neutral-90;
    border-bottom: 1px solid $color-neutral-30;
}

.wish-list-side-panel__subtotal-item {
}

.wish-list-side-panel__action-btns {
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wish-list-side-panel__action-btn {
    width: 100%;
    height: 55px;
    color: $color-neutral-80;
}

.wish-list-side-panel__transparent-btn {
    background-color: transparent;
    border: 1px solid $color-neutral-80;
}
.wish-list-side-panel__dark-btn {
    background-color: $color-neutral-0;
    border: none;
}

.wish-list-side-panel__no-products-container {
    height: 1112px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 26px 53px 26px;
}

.wish-list-side-panel__no-products-label {
    @include h3-title;
    color: $color-neutral-80;
    margin: 147px auto;
    text-align: center;
}
